<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">EBER <img width="48" height="48" src="https://img.icons8.com/color/48/taxi.png" alt="taxi" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           
        </ul>
        <span class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/maps']"
            href="#"
            >Map</a></span>
        <span class="nav-item ">
            <a class="nav-link" 
            [routerLink]="['/login']">LogIn</a>
        </span>

        <span class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/signup']">SignUp</a>
        </span>
    </div>
</nav>