<nav class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#">
        <div class="logo "  [appLottie]="lottieOptions">
            <img width="48" height="48" src="https://img.icons8.com/color/48/taxi.png" alt="taxi" />

        </div>
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
           
        </ul>
        <span  [routerLink]="['/notification']">

        <img class="notification" width="40" height="40" 
        src="https://img.icons8.com/ios-filled/50/appointment-reminders--v1.png"
            alt="appointment-reminders--v1" />
            <span class="notification-count">5</span>
        </span>
        
        <span class="nav-item">
            <a class="nav-link" 
            [routerLink]="['/maps']"
            href="#"
            >Map</a></span>
        <span class="nav-item " *ngIf="!loginStatus">
            <a class="nav-link" 
            [routerLink]="['/login']">LogIn</a>
        </span>
       
        <span class="nav-item" *ngIf="!loginStatus">
            <a class="nav-link" 
            [routerLink]="['/signup']">SignUp</a>
        </span>
    </div>
</nav>