<div class="alert alert-success m-2" role="alert" *ngIf="rideCompleteStatus">
    <strong>Your Ride Has been Completed!🎉 </strong>
</div>
<div class="alert alert-success m-2" role="alert" *ngIf="currentRideStatus === 'Accepted'">
    <strong>Your Ride Has been Accepted </strong>
</div>
<div class="alert alert-success m-2" role="alert" *ngIf="currentRideStatus === 'Arrived'">
    <strong>Your Ride Has been Arrived </strong>
</div>
<div class="alert alert-success m-2" role="alert" *ngIf="currentRideStatus === 'Picked'">
    <strong>Customer Have been Picked From the Set Location </strong>
</div>
<div class="alert alert-success m-2" role="alert" *ngIf="currentRideStatus === 'Started'">
    <strong>Your Ride Has Started! </strong>
</div>

<img width="100" *ngIf="nodemail" class="email" height="100" src="https://img.icons8.com/papercut/60/new-post.png" alt="new-post" />




    <h2 class="m-3">Running Requests</h2>
    <hr class="ruler">
    <div *ngIf="emptyBookingError" class="alert alert-danger">
        No assigned requests found!
    </div>
    <table class="table table-bordered" *ngIf="assignedRequests.length > 0">
        <thead>
            <tr>
                <th>Request ID</th>
                <th>User Name</th>
                <th>Pick Up Location</th>
                <th>Drop Off Location</th>
                <th>Service Type</th>
                <th>Assigned Driver</th>
                <th>Actions</th>
                <th>Request Timer</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of assignedRequests" (click)="selectRequest(request)">
                <td>{{ request._id }}</td>
                <td>{{ request.userId?.username }}</td>
                <td>{{ request.pickupLocation }}</td>
                <td>{{ request.dropOffLocation }}</td>
                <td>{{ request.serviceType }}</td>
                <td>{{request.driverObjectId.username}}</td>
            <td *ngIf="request.status === 'Assigned'; else rideProgress">
                <button class="btn btn-outline-success btn-sm p-2 m-1" (click)="acceptRequest(request)">Accept</button>
                <button class="btn btn-outline-danger btn-sm p-2 m-1" (click)="cancelRequest(request)">Cancel</button>
            </td>
            <ng-template #rideProgress>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ride Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="onChangeRideProgress(request, 'Arrived')">Arrived</a>
                            <a class="dropdown-item" (click)="onChangeRideProgress(request, 'Picked')">Picked</a>
                            <a class="dropdown-item" (click)="onChangeRideProgress(request, 'Started')">Started</a>
                            <a class="dropdown-item" (click)="onChangeRideProgress(request, 'Completed')">Completed</a>
                        </div>
                    </div>
                </td>
            </ng-template>
            <!-- working on it *ngIf="booking_id === request._id" -->
            <td class="countdown-timer p-3" >{{countdownTimer}}</td>
            </tr>
        </tbody>
    </table>

    <hr>
    <div class="cronJOBDRiver" *ngIf="cronDataBooking">
        <h3>CRON DRIVER</h3>
        <hr>
        <p><strong>Request ID:</strong> {{ cronDataBooking.driverObjectId._id }}</p>
        <p><strong>BOOKING ID:</strong> {{ cronDataBooking._id }}</p>
        <p><strong>DRIVER:</strong> {{ cronDataBooking.driverObjectId.userProfile }}</p>
        <p><strong>Status:</strong> {{ cronDataBooking.status }}</p>
        <p><strong>Phone:</strong> {{ cronDataBooking.driverObjectId.phone }}</p>
    </div>

    <div class="booking-request p-4" *ngIf="selectedRequest && !showInvoice" >
        <h3>Request Details</h3>
        <hr>
        <p><strong>Request ID:</strong> {{ selectedRequest._id }}</p>
        <p><strong>User Name:</strong> {{ selectedRequest.userId?.username }}</p>
        <p><strong>Phone:</strong> {{ selectedRequest.userId?.phone }}</p>
        <p><strong>Pick Up Location:</strong> {{ selectedRequest.pickupLocation }}</p>
        <p><strong>Drop Off Location:</strong> {{ selectedRequest.dropOffLocation }}</p>
        <p><strong>Service Type:</strong> {{ selectedRequest.serviceType }}</p>
        <p><strong>Status:</strong> {{ selectedRequest.status }}</p>
           
    </div>
   
    <hr>


<div class="container my-5" *ngIf="showInvoice">
    <!-- Invoice Header -->
    <div class="container mt-5">
        <!-- Header Section -->
        <div class="card bg-light text-center p-4 mb-3">
            <h2 class="card-title mb-1">Thanks for riding, {{invoiceObject.bookingId.username}}</h2>
            <p class="card-text">We hope you enjoyed your Ride.</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="text-start">
                    <p class="text-muted mb-0">Total: <strong>{{invoiceObject.totalFare | currency :
                            invoiceObject.userId.countryCode : display : digitsInfo : locale}}</strong></p>
                    <p class="text-muted mb-0">{{(invoiceObject.createdAt | date: 'shortDate')}}</p>
                    <p class="text-muted mb-0">Invoice No:  {{invoiceObject.invoiceNo}}</p>
                </div>
                <div>
                    <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/taxi.png" alt="taxi" />
                </div>
            </div>
        </div>

        <!-- Total Section -->
        <div class="text-center mb-4">
            <h3 class="fw-bold">Total <span class="d-block">{{invoiceObject.totalFare | currency :
                    invoiceObject.userId.countryCode : display : digitsInfo : locale}}</span></h3>
        </div>

        <!-- Trip Details Section -->
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <span>Trip Fare</span>
                <span>{{invoiceObject.tripFare | currency : invoiceObject.userId.countryCode : display : digitsInfo :
                    locale}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Subtotal</span>
                <span>{{invoiceObject.tripFare | currency : invoiceObject.userId.countryCode : display : digitsInfo :
                    locale}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Platform Charges
                    <span class="text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Airport charge details.">?</span>
                </span>
                <span>{{invoiceObject.platformCharge | currency : invoiceObject.userId.countryCode : display :
                    digitsInfo : locale}}</span>
            </li>
        </ul>

        <!-- Payment Method Section -->
        <div class="mb-4">
            <div class="d-flex justify-content-between">
                <span>Amount Charged </span>
                <span>{{invoiceObject.totalFare | currency : invoiceObject.userId.countryCode : display : digitsInfo :
                    locale}}</span>
            </div>
            <div class="d-flex align-items-center" *ngIf="invoiceObject.paymentOption !== 'cash' else cashPayment">
                <img width="60" height="60" src="https://img.icons8.com/3d-fluency/94/stripe.png" alt="stripe" />
            </div>
                <ng-template class="d-flex align-items-center" #cashPayment>
                    <img width="64" height="64"
                        src="https://img.icons8.com/external-nawicon-flat-nawicon/64/external-Cash-ecommerce-nawicon-flat-nawicon.png"
                        alt="external-Cash-ecommerce-nawicon-flat-nawicon" />
                </ng-template>
        </div>
        <hr>

        <!-- Driver Section -->
        <div class="row align-items-center">
            <div class="col-auto">
                <!-- You can add content here if needed -->
            </div>
            <div class="col">
                <h5 class="mb-0">{{invoiceObject.driverObjectId.username}}</h5>
                <p class="text-muted mb-0">{{invoiceObject.driverObjectId.rating || '4.97'}} ★ Rating</p>
            </div>
        </div>
    </div>
</div>