.timer{
    background-color: rgb(148, 222, 154);
    font-size: 2rem;
}
 .invoice-header,
 .invoice-footer {
     border-bottom: 1px solid #ddd;
     margin-bottom: 20px;
 }

 .invoice-footer {
     border-top: 1px solid #ddd;
     margin-top: 20px;
 }

 .table-bordered th,
 .table-bordered td {
     border: 1px solid #ddd;
 }
 .booking-request{
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    /* background-color: rgba(197, 197, 197, 0.247); */
    /* color: white; */
    background-image: linear-gradient(to right top, #f0e2e2, #ece0e6, #e6e0e9, #dee0ea, #d6e0e8);
    /* background-image: linear-gradient(to right top, #f3dbdb, #eed7e1, #e2d6e8, #d1d6ec, #bfd7e9); */
 }
 