<!-- <div class="col-12 col-md-6 text-white"> -->
    <div class="table-responsive  vehicle-list p-3">
        <h5>Vehicle Type List</h5>
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th scope="col">Vehicle Icon</th>
                    <th scope="col">Vehicle Type</th>
                    <th scope="col">Vehicle Name</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehicle of vehicleArray">
                    <td>
                        <img 
                        [src]="vehicle.image"
                         class="img-fluid" alt="Vehicle Icon"
                         style="width: 180px; height:100px"></td>
                    <td>{{vehicle.type}}</td>
                    <td>{{vehicle.name}}</td>
                    <td><a href="#" class="btn btn-primary">Edit</a></td>
                </tr>
                <!-- Repeat this row for each vehicle type -->
            </tbody>
        </table>
    </div>
<!-- </div> -->


