<!-- <div class="col-12 col-md-6 text-white"> -->
    <div class="table-responsive  vehicle-list p-3">
        <h5>Vehicle Type List</h5>
        <table class="table table-bordered text-white">
            <thead>
                <tr>
                    <th scope="col">Vehicle Icon</th>
                    <th scope="col">Vehicle Type</th>
                    <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img 
                        src="https://upload.wikimedia.org/wikipedia/commons/b/b5/R8_Coupe_V10_performance-1.jpg"
                         class="img-fluid" alt="Vehicle Icon"
                         style="width: 180px; height:100px"></td>
                    <td>Sedan</td>
                    <td><a href="#" class="btn btn-primary">Edit</a></td>
                </tr>
                <!-- Repeat this row for each vehicle type -->
            </tbody>
        </table>
    </div>
<!-- </div> -->


