<hr>
<h1>Vehicle List</h1>
<hr>
<div class="alert alert-success" role="alert" *ngIf="!formSubmit">
    Vehicle Data Updated!
</div>
<button class="btn btn-lg btn-info"  (click)="getVehicleData()">Get Vehicle List</button>
<div class="row m-3 text-dark">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let vehicle of vehicleArray" >
        <div class="vehicle-container" >
            <img [src]="vehicle.vehicleImageURL" alt="" class="img-fluid">
            <p><strong>Car Name: {{vehicle.vehicleName}}</strong></p>
            <p><strong>Car Type: {{vehicle.vehicleType}}</strong></p>

        <button type="button" class="btn btn-success"
         data-toggle="modal" data-target="#exampleModal"
          data-whatever="@mdo"
          (click)="onSelectVehicle(vehicle)">
            Edit</button>
           


        </div>
        
    </div>
</div>
<div class="modal fade"  id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Update Form</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
    <form (ngSubmit)="onUpdate()" #form="ngForm">
    <!-- Input field for vehicle name -->
    <div class="mb-3">
        <h2>Vehicle Form</h2>
        <label for="vehicleName" class="form-label">Vehicle Name</label>
        <input type="text" class="form-control" id="vehicleName" placeholder="Enter vehicle name" required
            name="vehicleName" ngModel #vehicleName="ngModel" />
        <p class="warning" *ngIf="vehicleName.invalid && vehicleName.touched">
            Vehicle name is required.
        </p>
    </div>
    <!-- Dropdown for selecting car type -->
    <div class="mb-3">
        <label for="carType" class="form-label">Vehicle Type</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                [innerText]="carType || 'Select Car Type'"></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="onSelectCarType('Sedan')">Sedan</a>
                <a class="dropdown-item" (click)="onSelectCarType('SUV')">SUV</a>
                <a class="dropdown-item" (click)="onSelectCarType('HatchBack')">HatchBack</a>
            </div>
            <p *ngIf="carType === 'Select Type'" class="text-warning">
                Note: Vehicle Type Required
            </p>
        </div>
    </div>
    <!-- Hidden input to bind car type to form -->
    <input type="hidden" name="carType" [ngModel]="carType" />
    <!-- Button to add/edit vehicle type -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" type="submit" class="btn btn-primary" [disabled]="!form.valid" >Update</button>
    </div>
</form>

        </div>
    </div>
</div>