{
  "openapi": "3.0.0",
  "info": {
    "version": "2023-10-26",
    "title": "Cashfree Payout APIs",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "contact": {
      "email": "developers@cashfree.com",
      "name": "API Support",
      "url": "https://discord.com/invite/QdZkNSxXsB"
    },
    "description": "Cashfree's Payout APIs provide developers with a streamlined pathway to integrate advanced payout capabilities into their applications, platforms and websites."
  },
  "servers": [
    {
      "url": "https://payout-gamma.cashfree.com",
      "description": "Sandbox server"
    },
    {
      "url": "https://payout-api.cashfree.com",
      "description": "Production server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Collection of APIs to handle authentication and authorization."
    },
    {
      "name": "Beneficiary",
      "description": "Collection of APIs to add beneficiaries or get added beneficiaries details."
    },
    {
      "name": "Account",
      "description": "Collection of APIs to get the balance, withdraw and move funds between accounts."
    },
    {
      "name": "Transfers",
      "description": "Collection of APIs to transfer funds to beneficiaries through bank transfers, Paytm, Amazon Pay, UPI, IMPS, and NEFT."
    },
    {
      "name": "Transfers v1.2",
      "description": "Collection of APIs to transfer funds to beneficiaries through bank transfers, Paytm, Amazon Pay, UPI, IMPS, and NEFT. The version 1.2 transfer APIs include paymentInstrumentId as one of the body parameters."
    },
    {
      "name": "Incidents",
      "description": "Collection of APIs to get the list of incidents on banks(Resolved,Unresolved,All) for a given time range."
    },
    {
      "name": "Cashgram",
      "description": "Collection of APIs to access Cashgram."
    }
  ],
  "components": {
    "securitySchemes": {
      "XClientID": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-id",
        "description": "Client app ID. You can find your app id in the <a href=\"https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod\" target=\"_blank\">merchant dashboard</a>."
      },
      "XClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "x-client-secret",
        "description": "Client secret key. You can find your secret in the <a href=\"https://merchant.cashfree.com/merchants/pg/developers/api-keys?env=prod\" target=\"_blank\">merchant dashboard</a>."
      },
      "XCFSignatureHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-cf-signature",
        "description": "Use this if you do not have a static IP for 2FA check"
      },
      "Authorization": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Use this if you do not want to pass the bearer token"
      }
    },
    "schemas": {
      "Error": {
        "title": "Error",
        "description": "Error Response for non-2XX cases",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Overall status of the API call"
          },
          "message": {
            "type": "string",
            "description": "Detailed message explaining the response"
          },
          "subCode": {
            "type": "string",
            "description": "Status code acting as an umbrella for the response"
          }
        }
      },
      "AddBeneficiaryRequest": {
        "title": "AddBeneficiaryRequest",
        "description": "Request Body for adding a new beneficiary",
        "type": "object",
        "properties": {
          "beneId": {
            "type": "string",
            "description": "Unique Beneficiary ID to identify the beneficiary. Alphanumeric and underscore (_) allowed (50 character limit)"
          },
          "name": {
            "type": "string",
            "description": "It is the name of the beneficiary. A maximum of 100 characters are allowed. Alphabets, numbers, white spaces ( ), and special characters are allowed."
          },
          "email": {
            "type": "string",
            "description": "Beneficiaries email, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)"
          },
          "phone": {
            "type": "string",
            "description": "Beneficiaries phone number, phone number registered in India (only digits, 8 - 12 characters after stripping +91)"
          },
          "bankAccount": {
            "type": "string",
            "description": "Beneficiary bank account (9 - 18 alphanumeric character limit)"
          },
          "ifsc": {
            "type": "string",
            "description": "Accounts IFSC (standard IFSC format) - length 11, first four bank IFSC and 5th digit 0"
          },
          "vpa": {
            "type": "string",
            "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore () allowed (100 character limit). Note: underscore () and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@)"
          },
          "address1": {
            "type": "string",
            "description": "Beneficiaries address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
          },
          "address2": {
            "type": "string",
            "description": "Beneficiary address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
          },
          "city": {
            "type": "string",
            "description": "Beneficiary city, only alphabets and white space (50 character limit)"
          },
          "state": {
            "type": "string",
            "description": "Beneficiary state, only alphabets and white space (50 character limit)"
          },
          "pincode": {
            "type": "string",
            "description": "Beneficiaries pincode, only numbers (6 character limit)"
          }
        },
        "required": [
          "beneId",
          "name",
          "email",
          "phone",
          "address1"
        ]
      },
      "RemoveBeneficiaryRequest": {
        "title": "RemoveBeneficiaryRequest",
        "description": "Request Body for removing a new beneficiary",
        "type": "object",
        "properties": {
          "beneId": {
            "type": "string",
            "description": "Beneficiaries Id to delete, alphanumeric and underscore allowed (50 character limit)"
          }
        },
        "required": [
          "beneId"
        ]
      },
      "SelfWithdrawalRequest": {
        "title": "SelfWithdrawalRequest",
        "description": "Self Withdrawal Request",
        "type": "object",
        "properties": {
          "withdrawalId": {
            "type": "string",
            "description": "Unique identifier for the withdrawal, alphanumeric allowed (50 character limit)"
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be withdrawn, decimal (>= 1.00)"
          },
          "remarks": {
            "type": "string",
            "description": "Remarks, if any. Alphanumeric and white space (70 character limit)"
          }
        },
        "required": [
          "withdrawalId",
          "amount"
        ]
      },
      "InternalTransferRequest": {
        "title": "InternalTransferRequest",
        "description": "Internal Transfer Request",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be transferred. Number (>=1)"
          },
          "rechargeAccount": {
            "type": "string",
            "description": "Cashfree internal recharge account number. Alphanumeric allowed"
          },
          "transferId": {
            "type": "string",
            "description": "A unique ID to identify this transfer. Alphanumeric, hyphen and underscore (_) allowed (40 character limit). If the value is not passed, the id will be autogenerated."
          }
        },
        "required": [
          "amount",
          "rechargeAccount"
        ]
      },
      "InternalTransferRequestV12": {
        "title": "InternalTransferRequestV12",
        "description": "Internal Transfer Request v1.2",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be transferred. Number (>=1)"
          },
          "rechargeAccount": {
            "type": "string",
            "description": "It is the Cashfree Payments' internal recharge account number. Alphanumeric characters are allowed."
          },
          "transferId": {
            "type": "string",
            "description": "It is the unique ID to identify the transfer. Alphanumeric, hyphen (-), and underscore (_) characters are allowed. Maximum character limit is 40. The ID is auto-generated if the parameter is left blank."
          },
          "paymentInstrumentId": {
            "type": "string",
            "description": "It is the unique ID to identify the fund source from which you want to transfer the money. Alphanumeric characters are allowed."
          },
          "toPaymentInstrumentId": {
            "type": "string",
            "description": "It is the unique ID to identify the fund source where you want to deposit the money. Alphanumeric characters are allowed."
          },
          "remarks": {
            "type": "string",
            "description": "Any remarks if required."
          }
        },
        "required": [
          "amount"
        ]
      },
      "TransferRequest": {
        "title": "TransferRequest",
        "description": "Transfer Request",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "amount to be transferred. Decimals allowed (>= 1.00)"
          },
          "beneId": {
            "type": "string",
            "description": "Beneficiary Id. Alphanumeric characters allowed.",
            "maxLength": 50
          },
          "transferId": {
            "type": "string",
            "description": "A unique Id to identify this transfer. Alphanumeric and underscore (_) allowed (40 character limit).",
            "maxLength": 40
          },
          "transferMode": {
            "type": "string",
            "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer.",
            "maxLength": 20
          },
          "remarks": {
            "type": "string",
            "description": "Additional remarks, if any. Alphanumeric and white spaces allowed (70 characters limit).",
            "maxLength": 70
          },
          "transferType": {
            "type": "string",
            "description": "Transfer Type",
            "maxLength": 7
          },
          "ipAddress": {
            "type": "string",
            "description": "IP Address of the caller"
          },
          "product": {
            "type": "string",
            "description": "Cashfree Product Name"
          },
          "rda": {
            "type": "object",
            "description": "Rupee Drawing Arrangement",
            "properties": {
              "quoteId": {
                "type": "string",
                "description": "Quote ID"
              },
              "requestCurrency": {
                "type": "string",
                "description": "Request Currency"
              },
              "sendingCurrency": {
                "type": "string",
                "description": "Sending Currency"
              },
              "receivingCurrency": {
                "type": "string",
                "description": "Receiving Currency"
              },
              "type": {
                "type": "string",
                "description": "RDA Type",
                "enum": [
                  "inttransfer",
                  "p2p",
                  "p2b",
                  "b2p",
                  "b2b"
                ]
              },
              "senderMobNo": {
                "type": "string",
                "description": "Sender Mobile Number"
              },
              "senderKyc": {
                "type": "object",
                "description": "Sender KYC Details",
                "properties": {
                  "nationality": {
                    "type": "string",
                    "description": "Sender's Nationality"
                  },
                  "dateOfBirth": {
                    "type": "string",
                    "description": "Sender's Date of Birth"
                  },
                  "document": {
                    "type": "object",
                    "description": "Sender's Document",
                    "properties": {
                      "idType": {
                        "type": "string",
                        "description": "Document Type"
                      },
                      "idNumber": {
                        "type": "string",
                        "description": "Document Number"
                      },
                      "expiryDate": {
                        "type": "string",
                        "description": "Document expiration date"
                      }
                    },
                    "required": [
                      "idType",
                      "idNumber",
                      "expiryDate"
                    ]
                  },
                  "postalAddress": {
                    "type": "object",
                    "description": "Sender's Postal Address",
                    "properties": {
                      "addressLine1": {
                        "type": "string",
                        "description": "Address Line 1"
                      },
                      "city": {
                        "type": "string",
                        "description": "City"
                      },
                      "country": {
                        "type": "string",
                        "description": "Country"
                      }
                    },
                    "required": [
                      "addressLine1",
                      "city",
                      "country"
                    ]
                  },
                  "subjectName": {
                    "type": "object",
                    "description": "Sender's Name",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First Name"
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last Name"
                      },
                      "fullName": {
                        "type": "string",
                        "description": "Full Name"
                      }
                    },
                    "required": [
                      "firstName",
                      "lastName",
                      "fullName"
                    ]
                  },
                  "primaryContactCountryCode": {
                    "type": "string",
                    "description": "Primary Contact's Country Code"
                  },
                  "primaryContactNo": {
                    "type": "string",
                    "description": "Primary Contact Number"
                  },
                  "primaryContactNoType": {
                    "type": "string",
                    "description": "Primary Contact Type"
                  }
                },
                "required": [
                  "nationality",
                  "dateOfBirth",
                  "document",
                  "postalAddress",
                  "subjectName"
                ]
              },
              "receivingCountry": {
                "type": "string",
                "description": "Receiving Country"
              },
              "remittancePurpose": {
                "type": "string",
                "description": "Remittance Purpose"
              },
              "sourceOfFunds": {
                "type": "string",
                "description": "Source Of Funds"
              },
              "relationshipSender": {
                "type": "string",
                "description": "Relationship with Sender"
              },
              "originCountry": {
                "type": "string",
                "description": "Country of origin"
              },
              "senderBusinessKyc": {
                "type": "object",
                "description": "Business KYC details",
                "properties": {
                  "pinCode": {
                    "type": "string",
                    "description": "Pincode"
                  },
                  "address": {
                    "type": "string",
                    "description": "Address"
                  },
                  "primaryContactCountryCode": {
                    "type": "string",
                    "description": "Primary Contact's Country Code"
                  },
                  "primaryContactNo": {
                    "type": "string",
                    "description": "Primary Contact Number"
                  },
                  "email": {
                    "type": "string",
                    "description": "Business Email ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Business Name"
                  },
                  "addressCountryCode": {
                    "type": "string",
                    "description": "Business Address Country Code"
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Country Code"
                  },
                  "regType": {
                    "type": "string",
                    "description": "Registration Type"
                  },
                  "regIssuedBy": {
                    "type": "string",
                    "description": "Registration Issued By"
                  },
                  "regIssuedAt": {
                    "type": "string",
                    "description": "Registration Issued At"
                  },
                  "regNumber": {
                    "type": "string",
                    "description": "Registration Number"
                  },
                  "regIssueDate": {
                    "type": "string",
                    "description": "Registration Issued Date"
                  },
                  "idValidThru": {
                    "type": "string",
                    "description": "Registration ID Validation Date"
                  }
                },
                "required": [
                  "address",
                  "primaryContactCountryCode",
                  "primaryContactNo",
                  "email",
                  "name",
                  "countryCode",
                  "regType",
                  "regNumber",
                  "regIssueDate",
                  "idValidThru"
                ]
              }
            },
            "required": [
              "senderMobNo",
              "remittancePurpose",
              "sourceOfFunds",
              "originCountry"
            ]
          }
        },
        "required": [
          "beneId",
          "amount",
          "transferId"
        ]
      },
      "BatchTransferRequest": {
        "title": "BatchTransferRequest",
        "description": "Batch Transfer Request",
        "type": "object",
        "properties": {
          "batchTransferId": {
            "type": "string",
            "description": "Unique Id of the Batch Transfer, alphanumeric and underscore allowed (60 character limit)"
          },
          "batchFormat": {
            "type": "string",
            "description": "Format of the batch transfers, valid values are, BENEFICIARY_ID, BANK_ACCOUNT, UPI, PAYTM, AMAZONPAY.",
            "enum": [
              "BENEFICIARY_ID",
              "BANK_ACCOUNT",
              "UPI",
              "PAYTM",
              "AMAZONPAY"
            ]
          },
          "deleteBene": {
            "type": "integer",
            "description": "Flag to delete and read new beneficiaries if a beneficiary with the same Beneficiary Id is available. When the batch transfer format is BANK_ACCOUNT"
          },
          "batch": {
            "type": "array",
            "description": "An array of transfer objects",
            "items": {
              "title": "CreateTransferBatch",
              "description": "Batch Transfer Request",
              "type": "object",
              "properties": {
                "transferId": {
                  "type": "string",
                  "description": "A unique ID to identify this transfer. Alphanumeric, hyphen and underscore (_) allowed (40 character limit).",
                  "maxLength": 40
                },
                "amount": {
                  "type": "number",
                  "format": "double",
                  "description": "Amount to be transferred. Number (>=1)"
                },
                "remarks": {
                  "type": "string",
                  "description": "Any remarks if required.",
                  "maxLength": 70
                },
                "beneId": {
                  "type": "string",
                  "description": "Beneficiary Id. Alphanumeric characters allowed.",
                  "maxLength": 50
                },
                "name": {
                  "type": "string",
                  "description": "It is the name of the beneficiary. A maximum of 100 characters are allowed.",
                  "maxLength": 100
                },
                "email": {
                  "type": "string",
                  "description": "Beneficiaries email, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)",
                  "maxLength": 200
                },
                "phone": {
                  "type": "string",
                  "description": "Beneficiaries phone number, phone number registered in India",
                  "maxLength": 11
                },
                "bankAccount": {
                  "type": "string",
                  "description": "Beneficiary bank account (only alphanumeric characters allowed)",
                  "maxLength": 40
                },
                "ifsc": {
                  "type": "string",
                  "description": "Accounts IFSC (standard IFSC format)",
                  "maxLength": 50
                },
                "vpa": {
                  "type": "string",
                  "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore () allowed (100 character limit). Note: underscore () and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@)"
                },
                "transferMode": {
                  "type": "string",
                  "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
                }
              },
              "required": [
                "transferId",
                "amount"
              ],
              "example": {
                "amount": "1",
                "transferId": "1234",
                "remarks": "Transfer with Id 12356",
                "name": "john doe",
                "email": "johndoe@cashfree.com",
                "phone": 9876543210,
                "bankAccount": "00111122233",
                "ifsc": "HDFC0000001"
              }
            }
          }
        },
        "required": [
          "batchTransferId",
          "batchFormat",
          "batch"
        ]
      },
      "CreateTransferBatch": {
        "title": "CreateTransferBatch",
        "description": "Batch Transfer Request",
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string",
            "description": "A unique ID to identify this transfer. Alphanumeric, hyphen and underscore (_) allowed (40 character limit).",
            "maxLength": 40
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be transferred. Number (>=1)"
          },
          "remarks": {
            "type": "string",
            "description": "Any remarks if required.",
            "maxLength": 70
          },
          "beneId": {
            "type": "string",
            "description": "Beneficiary Id. Alphanumeric characters allowed.",
            "maxLength": 50
          },
          "name": {
            "type": "string",
            "description": "It is the name of the beneficiary. A maximum of 100 characters are allowed.",
            "maxLength": 100
          },
          "email": {
            "type": "string",
            "description": "Beneficiaries email, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)",
            "maxLength": 200
          },
          "phone": {
            "type": "string",
            "description": "Beneficiaries phone number, phone number registered in India",
            "maxLength": 11
          },
          "bankAccount": {
            "type": "string",
            "description": "Beneficiary bank account (only alphanumeric characters allowed)",
            "maxLength": 40
          },
          "ifsc": {
            "type": "string",
            "description": "Accounts IFSC (standard IFSC format)",
            "maxLength": 50
          },
          "vpa": {
            "type": "string",
            "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore () allowed (100 character limit). Note: underscore () and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@)"
          },
          "transferMode": {
            "type": "string",
            "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
          }
        },
        "required": [
          "transferId",
          "amount"
        ],
        "example": {
          "amount": "1",
          "transferId": "1234",
          "remarks": "Transfer with Id 12356",
          "name": "john doe",
          "email": "johndoe@cashfree.com",
          "phone": 9876543210,
          "bankAccount": "00111122233",
          "ifsc": "HDFC0000001"
        }
      },
      "DirectTransferRequest": {
        "title": "DirectTransferRequest",
        "description": "Direct Transfer Request",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be transferred. Amount should be greater that INR 1.00. Decimals are allowed."
          },
          "transferId": {
            "type": "string",
            "description": "A unique ID to identify this transfer. Alphanumeric characters and underscores are allowed (40 character limit)."
          },
          "transferMode": {
            "type": "string",
            "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
          },
          "remarks": {
            "type": "string",
            "description": "Additional Remarks, if required."
          },
          "beneDetails": {
            "type": "object",
            "description": "Object with the beneficiary details to whom amount is to be transferred",
            "properties": {
              "beneId": {
                "type": "string",
                "description": "Beneficiary Id. Alphanumeric characters allowed."
              },
              "name": {
                "type": "string",
                "description": "Beneficiary name, only alphabets and white space (100 character limit)"
              },
              "email": {
                "type": "string",
                "description": "Beneficiary email address, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)"
              },
              "phone": {
                "type": "string",
                "description": "Beneficiary phone number, phone number registered in India (only digits, 8 - 12 characters after stripping +91)"
              },
              "bankAccount": {
                "type": "string",
                "description": "Beneficiary bank account (9 - 18 alphanumeric character limit) (Required in case of banktransfer, imps, neft mode)"
              },
              "ifsc": {
                "type": "string",
                "description": "Accounts IFSC (standard IFSC format) - length 11, first four bank IFSC and 5th digit 0 (Required in case of banktransfer, imps, neft mode)"
              },
              "vpa": {
                "type": "string",
                "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore () allowed (100 character limit). Note: underscore () and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@) (Required in case of UPI)"
              },
              "address1": {
                "type": "string",
                "description": "Beneficiary address. Alphanumeric characters and space allowed (150 character limit)."
              },
              "address2": {
                "type": "string",
                "description": "Beneficiary address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
              },
              "city": {
                "type": "string",
                "description": "Beneficiary city, only alphabets and white space (50 character limit)"
              },
              "state": {
                "type": "string",
                "description": "Beneficiary state, only alphabets and white space (50 character limit)"
              },
              "pincode": {
                "type": "string",
                "description": "Beneficiaries pincode, only numbers (6 character limit)"
              }
            },
            "required": [
              "name",
              "email",
              "phone"
            ]
          }
        },
        "required": [
          "amount",
          "transferId",
          "transferMode",
          "beneDetails"
        ]
      },
      "CardPayRequest": {
        "title": "CardPayRequest",
        "description": "Card Pay Request",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount you want to transfer. Amount should be >= 1.00. Decimals are allowed."
          },
          "transferId": {
            "type": "string",
            "description": "Unique transfer ID to identify the transfer. Alphanumeric characters and underscore are allowed. The maximum character limit is 40."
          },
          "token": {
            "type": "string",
            "description": "It is the tokenised card number or card token for this transfer."
          },
          "remarks": {
            "type": "string",
            "description": "Remarks for your reference. Alphanumeric characters and whitespace are allowed. The maximum character limit is 70."
          },
          "name": {
            "type": "string",
            "description": "The name of the beneficiary who receives the transfer amount."
          },
          "networkType": {
            "type": "string",
            "description": "Specify the card type - VISA/MASTERCARD.",
            "enum": [
              "VISA",
              "MASTERCARD"
            ]
          },
          "cryptogram": {
            "type": "string",
            "description": "It contains formatted chip/cryptogram data relating to the token cryptogram. The maximum character limit is 600. It is optional for MASTERCARD and not required for VISA."
          },
          "tokenExpiry": {
            "type": "string",
            "description": "Applicable only for MASTERCARD. The format for the valid token expiry date should be YYYY-MM. It cannot be null. Provide a valid tokenExpiry if collected from the customers. If unavailable, populate a static value with a forward year and month in the correct format (YYYY-MM). The maximum character limit is 10."
          },
          "cardType": {
            "type": "string",
            "description": "Specify if it is a debit or credit card. Values allowed: DEBIT/CREDIT. CREDIT is the default value if the parameter does not exist or is not specified."
          },
          "tokenPANSequenceNumber": {
            "type": "string",
            "description": "A maximum of 3 alphanumeric characters are allowed. It is optional for MASTERCARD and not required for VISA."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP Address of the caller"
          },
          "product": {
            "type": "string",
            "description": "Cashfree Product Name"
          }
        },
        "required": [
          "token",
          "amount",
          "transferId",
          "cardType"
        ]
      },
      "LendRequest": {
        "title": "LendRequest",
        "description": "Lend Request",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "It is the loan amount. It should be equal to or greater than 1.00."
          },
          "beneId": {
            "type": "string",
            "description": "It is the unique ID to identify the beneficiary. Only alphanumeric characters are allowed."
          },
          "loanId": {
            "type": "string",
            "description": "It is the unique ID to identify the loan. Only alphanumeric characters are allowed."
          },
          "remarks": {
            "type": "string"
          },
          "transferMode": {
            "type": "string",
            "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
          },
          "transferType": {
            "type": "string"
          },
          "serviceCharges": {
            "type": "array",
            "description": "It is the service charges that need to be disbursed to different parties.",
            "items": {
              "title": "LoanDisbursalServiceCharge",
              "description": "Loan Disbursal Service Charge",
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Service Charge Name"
                },
                "value": {
                  "type": "number",
                  "format": "double",
                  "description": "Service Charge Amount"
                }
              },
              "required": [
                "key",
                "value"
              ]
            }
          },
          "beneDetails": {
            "type": "object",
            "description": "It is the details of the beneficiary.",
            "properties": {
              "beneId": {
                "type": "string",
                "description": "Beneficiary Id. Alphanumeric characters allowed."
              },
              "name": {
                "type": "string",
                "description": "It is the name of the beneficiary. It should be a maximum of 100 characters. Only alphabets and whitespaces ( ) are allowed."
              },
              "email": {
                "type": "string",
                "description": "It is the email address of the beneficiary. A maximum of 200 characters are allowed. The value should contain @ and period (.)."
              },
              "phone": {
                "type": "string",
                "description": "It is the phone number of the beneficiary. The phone number must be registered in India. Only numeric values are allowed. It should be between 8 and 12 characters excluding +91."
              },
              "bankAccount": {
                "type": "string",
                "description": "It is the bank account of the beneficiary. It must be between 9-18 alphanumeric characters. It is a required parameter in the case of banktransfer, imps, and neft."
              },
              "ifsc": {
                "type": "string",
                "description": "The IFSC information of the bank account of the dealer/distributor who raised the invoice for the customer to pay. It should be an alphanumeric value of 11 characters. The first 4 characters should be alphabets, the 5th character should be a 0, and the remaining 6 characters should be numerals."
              },
              "vpa": {
                "type": "string",
                "description": "It is the virtual payment address of the beneficiary. A maximum of 100 characters are allowed. Accepted values: alphanumeric, period (.), hyphen (-), at sign (@), underscore (). Underscore () and period (.) are accepted before and after at sign (@). Hyphen (-) is accepted only before at sign (@)."
              },
              "address1": {
                "type": "string",
                "description": "It is the address of the beneficiary. A maximum of 150 characters are allowed. Only alphanumeric values and whitespaces ( ) are allowed."
              },
              "address2": {
                "type": "string",
                "description": "Beneficiary address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
              },
              "city": {
                "type": "string",
                "description": "Beneficiary city, only alphabets and white space (50 character limit)"
              },
              "state": {
                "type": "string",
                "description": "Beneficiary state, only alphabets and white space (50 character limit)"
              },
              "pincode": {
                "type": "string",
                "description": "Beneficiaries pincode, only numbers (6 character limit)"
              }
            },
            "required": [
              "name",
              "email",
              "phone",
              "address1"
            ]
          }
        },
        "required": [
          "loanId",
          "serviceCharges"
        ]
      },
      "LoanDisbursalServiceCharge": {
        "title": "LoanDisbursalServiceCharge",
        "description": "Loan Disbursal Service Charge",
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "Service Charge Name"
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "Service Charge Amount"
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "TransferRequestV12": {
        "title": "TransferRequestV12",
        "description": "Transfer Request v1.2",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "amount to be transferred. Decimals allowed (>= 1.00)"
          },
          "beneId": {
            "type": "string",
            "description": "Beneficiary Id. Alphanumeric characters allowed."
          },
          "transferId": {
            "type": "string",
            "description": "A unique Id to identify this transfer. Alphanumeric and underscore (_) allowed (40 character limit)."
          },
          "transferMode": {
            "type": "string",
            "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
          },
          "remarks": {
            "type": "string",
            "description": "Additional remarks, if any. Alphanumeric and white spaces allowed (70 characters limit)."
          },
          "transferType": {
            "type": "string",
            "description": "Transfer Type",
            "maxLength": 7
          },
          "ipAddress": {
            "type": "string",
            "description": "IP Address of the caller"
          },
          "product": {
            "type": "string",
            "description": "Cashfree Product Name"
          },
          "paymentInstrumentId": {
            "type": "string",
            "description": "Specify the fund source ID from where you want the amount to be debited."
          }
        },
        "required": [
          "beneId",
          "amount",
          "transferId"
        ]
      },
      "DirectTransferRequestV12": {
        "title": "DirectTransferRequestV12",
        "description": "Direct Transfer Request v1.2",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be transferred. Amount should be greater that INR 1.00. Decimals are allowed."
          },
          "transferId": {
            "type": "string",
            "description": "A unique ID to identify this transfer. Alphanumeric characters and underscores are allowed (40 character limit)."
          },
          "transferMode": {
            "type": "string",
            "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
          },
          "remarks": {
            "type": "string",
            "description": "Additional Remarks, if required."
          },
          "paymentInstrumentId": {
            "type": "string",
            "description": "Specify the fund source ID from where you want the amount to be debited."
          },
          "beneDetails": {
            "type": "object",
            "description": "Object with the beneficiary details to whom amount is to be transferred",
            "properties": {
              "beneId": {
                "type": "string",
                "description": "Beneficiary Id. Alphanumeric characters allowed.",
                "maxLength": 50
              },
              "name": {
                "type": "string",
                "description": "Beneficiary name, only alphabets and white space (100 character limit)",
                "maxLength": 100
              },
              "email": {
                "type": "string",
                "description": "Beneficiary email address, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)",
                "maxLength": 200
              },
              "phone": {
                "type": "string",
                "description": "Beneficiary phone number, phone number registered in India (only digits, 8 - 12 characters after stripping +91)"
              },
              "bankAccount": {
                "type": "string",
                "description": "Beneficiary bank account (9 - 18 alphanumeric character limit) (Required in case of banktransfer, imps, neft mode)",
                "maxLength": 40
              },
              "ifsc": {
                "type": "string",
                "description": "Accounts IFSC (standard IFSC format) - length 11, first four bank IFSC and 5th digit 0 (Required in case of banktransfer, imps, neft mode)",
                "maxLength": 50
              },
              "vpa": {
                "type": "string",
                "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore () allowed (100 character limit). Note: underscore () and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@) (Required in case of UPI)",
                "maxLength": 100
              },
              "address1": {
                "type": "string",
                "description": "Beneficiary address. Alphanumeric characters and space allowed (150 character limit)."
              },
              "address2": {
                "type": "string",
                "description": "Beneficiary address, alphanumeric and space allowed (but script, HTML tags gets sanitized or removed) (150 character limit)"
              },
              "city": {
                "type": "string",
                "description": "Beneficiary city, only alphabets and white space (50 character limit)"
              },
              "state": {
                "type": "string",
                "description": "Beneficiary state, only alphabets and white space (50 character limit)"
              },
              "pincode": {
                "type": "string",
                "description": "Beneficiaries pincode, only numbers (6 character limit)",
                "maxLength": 6
              }
            }
          }
        },
        "required": [
          "amount",
          "transferId",
          "transferMode",
          "beneDetails"
        ]
      },
      "BatchTransferRequestV12": {
        "title": "BatchTransferRequestV12",
        "description": "Batch Transfer Request v1.2",
        "type": "object",
        "properties": {
          "batchTransferId": {
            "type": "string",
            "description": "Unique Id of the Batch Transfer, alphanumeric and underscore allowed (60 character limit)"
          },
          "batchFormat": {
            "type": "string",
            "description": "Format of the batch transfers, valid values are, BENEFICIARY_ID, BANK_ACCOUNT, UPI, PAYTM, AMAZONPAY.",
            "enum": [
              "BENEFICIARY_ID",
              "BANK_ACCOUNT",
              "UPI",
              "PAYTM",
              "AMAZONPAY"
            ]
          },
          "deleteBene": {
            "type": "integer",
            "description": "Flag to delete and read new beneficiaries if a beneficiary with the same Beneficiary Id is available. When the batch transfer format is BANK_ACCOUNT"
          },
          "paymentInstrumentId": {
            "type": "string",
            "description": "Specify the payment instrument from where you want the amount to be debited."
          },
          "batch": {
            "type": "array",
            "description": "An array of transfer objects",
            "items": {
              "title": "CreateTransferBatch",
              "description": "Batch Transfer Request",
              "type": "object",
              "properties": {
                "transferId": {
                  "type": "string",
                  "description": "A unique ID to identify this transfer. Alphanumeric, hyphen and underscore (_) allowed (40 character limit).",
                  "maxLength": 40
                },
                "amount": {
                  "type": "number",
                  "format": "double",
                  "description": "Amount to be transferred. Number (>=1)"
                },
                "remarks": {
                  "type": "string",
                  "description": "Any remarks if required.",
                  "maxLength": 70
                },
                "beneId": {
                  "type": "string",
                  "description": "Beneficiary Id. Alphanumeric characters allowed.",
                  "maxLength": 50
                },
                "name": {
                  "type": "string",
                  "description": "It is the name of the beneficiary. A maximum of 100 characters are allowed.",
                  "maxLength": 100
                },
                "email": {
                  "type": "string",
                  "description": "Beneficiaries email, string in email Id format (Ex: johndoe_1@cashfree.com) - should contain @ and dot (.) - (200 character limit)",
                  "maxLength": 200
                },
                "phone": {
                  "type": "string",
                  "description": "Beneficiaries phone number, phone number registered in India",
                  "maxLength": 11
                },
                "bankAccount": {
                  "type": "string",
                  "description": "Beneficiary bank account (only alphanumeric characters allowed)",
                  "maxLength": 40
                },
                "ifsc": {
                  "type": "string",
                  "description": "Accounts IFSC (standard IFSC format)",
                  "maxLength": 50
                },
                "vpa": {
                  "type": "string",
                  "description": "Beneficiary VPA, alphanumeric, dot (.), hyphen (-), at sign (@), and underscore () allowed (100 character limit). Note: underscore () and dot (.) gets accepted before and after at sign (@), but hyphen (-) get only accepted before at sign (@)"
                },
                "transferMode": {
                  "type": "string",
                  "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
                }
              },
              "required": [
                "transferId",
                "amount"
              ],
              "example": {
                "amount": "1",
                "transferId": "1234",
                "remarks": "Transfer with Id 12356",
                "name": "john doe",
                "email": "johndoe@cashfree.com",
                "phone": 9876543210,
                "bankAccount": "00111122233",
                "ifsc": "HDFC0000001"
              }
            }
          }
        },
        "required": [
          "batchTransferId",
          "batchFormat",
          "batch"
        ]
      },
      "CashgramCreateRequest": {
        "title": "CashgramCreateRequest",
        "description": "Cashgram Create Request",
        "type": "object",
        "properties": {
          "cashgramId": {
            "type": "string",
            "description": "Unique Id of the Cashgram. Alphanumeric, underscore (_), and hyphen (-) allowed (35 character limit)",
            "maxLength": 36
          },
          "amount": {
            "type": "number",
            "format": "double",
            "description": "Amount to be transferred, >= 1.00"
          },
          "name": {
            "type": "string",
            "description": "Name of the contact",
            "maxLength": 100
          },
          "email": {
            "type": "string",
            "description": "Email of the contact",
            "maxLength": 200
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the contact"
          },
          "linkExpiry": {
            "type": "string",
            "description": "Date to expire the cashgram link, Date format YYYY/MM/DD, maximum 30 days from the date of creation.",
            "maxLength": 10
          },
          "remarks": {
            "type": "string",
            "description": "Specify remarks, if any."
          },
          "notifyCustomer": {
            "type": "integer",
            "description": "If value is 1, a link is sent to customers phone and email."
          },
          "validateAccount": {
            "type": "integer",
            "description": "Binary value (0,1) to decide whether to validate account or not"
          },
          "payoutType": {
            "type": "string",
            "description": "Payout Type"
          },
          "description": {
            "type": "string",
            "description": "Description of the cashgram"
          }
        },
        "required": [
          "cashgramId",
          "amount",
          "name",
          "phone",
          "linkExpiry"
        ]
      },
      "CashgramDeactivateRequest": {
        "title": "CashgramDeactivateRequest",
        "description": "Cashgram Deactivate Request",
        "type": "object",
        "properties": {
          "cashgramId": {
            "type": "string",
            "description": "ID of the Cashgram to be deactivated. Alphanumeric and underscore (_) allowed (35 character limit)",
            "maxLength": 35
          }
        },
        "required": [
          "cashgramId"
        ]
      },
      "AddBeneficiaryRequestV2": {
        "title": "AddBeneficiaryRequestV2",
        "description": "Request Body for adding a new beneficiary",
        "type": "object",
        "properties": {
          "beneficiaryId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "bankAccount": {
            "type": "string"
          },
          "ifsc": {
            "type": "string"
          },
          "vpa": {
            "type": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "addressLine1": {
                "type": "string"
              },
              "addressLine2": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "pincode": {
                "type": "string"
              }
            }
          }
        },
        "example": {
          "beneficiaryId": "JOHN18011343",
          "name": "john doe",
          "email": "johndoe@cashfree.com",
          "phone": "9876543210",
          "bankAccount": "00111122233",
          "ifsc": "HDFC0000001",
          "vpa": "test@upi",
          "address": {
            "addressLine1": "ABC Road",
            "addressLine2": "XYZ Layout",
            "city": "Bangalore",
            "state": "Karnataka",
            "pincode": "560001"
          }
        }
      },
      "GenericAPIResponse": {
        "title": "GenericAPIResponse",
        "description": "Generic API Response",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "AuthorizeResponse": {
        "title": "AuthorizeResponse",
        "description": "Response for generating Bearer Token",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string"
              },
              "expiry": {
                "type": "integer"
              }
            }
          }
        }
      },
      "VerifyTokenResponse": {
        "title": "VerifyTokenResponse",
        "description": "Response for verifying Bearer Token",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          }
        },
        "example": {
          "status": "SUCCESS",
          "message": "Token is valid",
          "subCode": "200"
        }
      },
      "AddBeneficiaryResponse": {
        "title": "AddBeneficiaryResponse",
        "description": "Response for creating new Beneficiary",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          }
        }
      },
      "GetBeneficiaryResponse": {
        "title": "GetBeneficiaryResponse",
        "description": "Response for getting Beneficiary by id",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "beneId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "groupName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "address1": {
                "type": "string"
              },
              "address2": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "state": {
                "type": "string"
              },
              "pincode": {
                "type": "string"
              },
              "bankAccount": {
                "type": "string"
              },
              "ifsc": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "vpa": {
                "type": "string"
              },
              "addedOn": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetBeneficiaryIDResponse": {
        "title": "GetBeneficiaryIDResponse",
        "description": "Response for getting Beneficiary id by bank account and ifsc",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "beneId": {
                "type": "string"
              }
            }
          }
        }
      },
      "RemoveBeneficiaryResponse": {
        "title": "RemoveBeneficiaryResponse",
        "description": "Response for removing Beneficiary",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          }
        }
      },
      "BeneficiaryHistoryResponse": {
        "title": "BeneficiaryHistoryResponse",
        "description": "Response for fetching Beneficiary history",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "transfers": {
                "type": "array",
                "items": {
                  "title": "BeneficiaryTransfer",
                  "description": "Beneficiary Transfer Object",
                  "type": "object",
                  "properties": {
                    "transferDate": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "beneId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "transferDate": "2020-06-16",
                    "amount": "1",
                    "mode": "IMPS",
                    "beneId": "John Doe",
                    "status": "SUCCESS"
                  }
                }
              }
            }
          }
        }
      },
      "BeneficiaryTransfer": {
        "title": "BeneficiaryTransfer",
        "description": "Beneficiary Transfer Object",
        "type": "object",
        "properties": {
          "transferDate": {
            "type": "string"
          },
          "amount": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "beneId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "example": {
          "transferDate": "2020-06-16",
          "amount": "1",
          "mode": "IMPS",
          "beneId": "John Doe",
          "status": "SUCCESS"
        }
      },
      "BalanceResponse": {
        "title": "BalanceResponse",
        "description": "Balance Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "balance": {
                "type": "number",
                "format": "double"
              },
              "availableBalance": {
                "type": "string"
              }
            }
          }
        }
      },
      "SelfWithdrawalResponse": {
        "title": "SelfWithdrawalResponse",
        "description": "Self Withdrawal Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "InternalTransferResponse": {
        "title": "InternalTransferResponse",
        "description": "Internal Transfer Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "transferId": {
                "type": "string"
              }
            }
          }
        }
      },
      "TransferResponse": {
        "title": "TransferResponse",
        "description": "Transfer Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "referenceId": {
                "type": "string"
              },
              "utr": {
                "type": "string"
              },
              "acknowledged": {
                "type": "integer"
              }
            }
          }
        }
      },
      "TransferAsyncResponse": {
        "title": "TransferAsyncResponse",
        "description": "Transfer Async Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "referenceId": {
                "type": "string"
              }
            }
          }
        }
      },
      "GetTransferStatusResponse": {
        "title": "GetTransferStatusResponse",
        "description": "Transfer Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "transfer": {
                "type": "object",
                "properties": {
                  "transferId": {
                    "type": "string"
                  },
                  "referenceId": {
                    "type": "string"
                  },
                  "bankAccount": {
                    "type": "string"
                  },
                  "ifsc": {
                    "type": "string"
                  },
                  "beneId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number",
                    "format": "double"
                  },
                  "status": {
                    "type": "string"
                  },
                  "utr": {
                    "type": "string"
                  },
                  "addedOn": {
                    "type": "string"
                  },
                  "processedOn": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  },
                  "transferMode": {
                    "type": "string"
                  },
                  "acknowledged": {
                    "type": "integer"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "vpa": {
                    "type": "string"
                  },
                  "paymentInstrumentId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "BatchTransferStatusResponse": {
        "title": "BatchTransferStatusResponse",
        "description": "Batch Transfer Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "rowCount": {
                "type": "integer"
              },
              "referenceId": {
                "type": "integer"
              },
              "transfers": {
                "type": "array",
                "items": {
                  "title": "BatchTransferEntry",
                  "description": "Batch Transfer",
                  "type": "object",
                  "properties": {
                    "transferId": {
                      "type": "string"
                    },
                    "paymentInstrumentId": {
                      "type": "string"
                    },
                    "beneId": {
                      "type": "string"
                    },
                    "referenceId": {
                      "type": "string"
                    },
                    "bankAccount": {
                      "type": "string"
                    },
                    "ifsc": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number",
                      "format": "double"
                    },
                    "remarks": {
                      "type": "string"
                    },
                    "utr": {
                      "type": "string"
                    },
                    "addedOn": {
                      "type": "string"
                    },
                    "processedOn": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "failureReason": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "beneId": "9999999999_18875",
                    "transferId": "PTM_00052312126",
                    "referenceId": 1523969543,
                    "bankAccount": "9999999999",
                    "ifsc": "PYTM0000001",
                    "amount": "12.00",
                    "remarks": "",
                    "status": "SUCCESS",
                    "utr": "W1532082926",
                    "addedOn": "2018-07-20",
                    "processedOn": "2018-07-20"
                  }
                }
              }
            }
          }
        }
      },
      "BatchTransferEntry": {
        "title": "BatchTransferEntry",
        "description": "Batch Transfer",
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string"
          },
          "paymentInstrumentId": {
            "type": "string"
          },
          "beneId": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "bankAccount": {
            "type": "string"
          },
          "ifsc": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "remarks": {
            "type": "string"
          },
          "utr": {
            "type": "string"
          },
          "addedOn": {
            "type": "string"
          },
          "processedOn": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "failureReason": {
            "type": "string"
          }
        },
        "example": {
          "beneId": "9999999999_18875",
          "transferId": "PTM_00052312126",
          "referenceId": 1523969543,
          "bankAccount": "9999999999",
          "ifsc": "PYTM0000001",
          "amount": "12.00",
          "remarks": "",
          "status": "SUCCESS",
          "utr": "W1532082926",
          "addedOn": "2018-07-20",
          "processedOn": "2018-07-20"
        }
      },
      "BatchTransferStatusResponseV12": {
        "title": "BatchTransferStatusResponseV12",
        "description": "Batch Transfer Status Response v1.2",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "rowCount": {
                "type": "integer"
              },
              "referenceId": {
                "type": "integer"
              },
              "paymentInstrumentId": {
                "type": "string"
              },
              "transfers": {
                "type": "array",
                "items": {
                  "title": "BatchTransferEntryV12",
                  "description": "Batch Transfer v1.2",
                  "type": "object",
                  "properties": {
                    "transferId": {
                      "type": "string"
                    },
                    "beneId": {
                      "type": "string"
                    },
                    "referenceId": {
                      "type": "string"
                    },
                    "bankAccount": {
                      "type": "string"
                    },
                    "ifsc": {
                      "type": "string"
                    },
                    "amount": {
                      "type": "number",
                      "format": "double"
                    },
                    "remarks": {
                      "type": "string"
                    },
                    "utr": {
                      "type": "string"
                    },
                    "addedOn": {
                      "type": "string"
                    },
                    "processedOn": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "failureReason": {
                      "type": "string"
                    }
                  },
                  "example": {
                    "beneId": "9999999999_18875",
                    "transferId": "PTM_00121241112",
                    "referenceId": 1523969542,
                    "bankAccount": "9999999999",
                    "ifsc": "PYTM0000001",
                    "amount": "12.00",
                    "remarks": "",
                    "status": "SUCCESS",
                    "utr": "W1532082925",
                    "addedOn": "2018-07-20",
                    "processedOn": "2018-07-20"
                  }
                }
              }
            }
          }
        },
        "example": {
          "status": "SUCCESS",
          "subCode": "200",
          "message": "Data retrieved successfully",
          "data": {
            "rowCount": 2,
            "referenceId": 1582,
            "paymentInstrumentId": "CASHFREE_1",
            "transfers": [
              {
                "beneId": "9999999999_18875",
                "transferId": "PTM_00121241112",
                "referenceId": 1523969542,
                "bankAccount": "9999999999",
                "ifsc": "PYTM0000001",
                "amount": "12.00",
                "remarks": "",
                "status": "SUCCESS",
                "utr": "W1532082925",
                "addedOn": "2018-07-20",
                "processedOn": "2018-07-20"
              },
              {
                "beneId": "9999999999_18875",
                "transferId": "PTM_00052312126",
                "referenceId": 1523969543,
                "bankAccount": "9999999999",
                "ifsc": "PYTM0000001",
                "amount": "12.00",
                "remarks": "",
                "status": "SUCCESS",
                "utr": "W1532082926",
                "addedOn": "2018-07-20",
                "processedOn": "2018-07-20"
              }
            ]
          }
        }
      },
      "BatchTransferEntryV12": {
        "title": "BatchTransferEntryV12",
        "description": "Batch Transfer v1.2",
        "type": "object",
        "properties": {
          "transferId": {
            "type": "string"
          },
          "beneId": {
            "type": "string"
          },
          "referenceId": {
            "type": "string"
          },
          "bankAccount": {
            "type": "string"
          },
          "ifsc": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "remarks": {
            "type": "string"
          },
          "utr": {
            "type": "string"
          },
          "addedOn": {
            "type": "string"
          },
          "processedOn": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "failureReason": {
            "type": "string"
          }
        },
        "example": {
          "beneId": "9999999999_18875",
          "transferId": "PTM_00121241112",
          "referenceId": 1523969542,
          "bankAccount": "9999999999",
          "ifsc": "PYTM0000001",
          "amount": "12.00",
          "remarks": "",
          "status": "SUCCESS",
          "utr": "W1532082925",
          "addedOn": "2018-07-20",
          "processedOn": "2018-07-20"
        }
      },
      "CashgramCreateResponse": {
        "title": "CashgramCreateResponse",
        "description": "Cashgram Create Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "referenceId": {
                "type": "integer"
              },
              "cashgramLink": {
                "type": "string"
              }
            }
          }
        }
      },
      "CashgramStatusResponse": {
        "title": "CashgramStatusResponse",
        "description": "Cashgram Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "cashgramStatus": {
                "type": "string"
              },
              "reason": {
                "type": "string"
              },
              "referenceId": {
                "type": "integer"
              },
              "cashgramId": {
                "type": "string"
              },
              "cashgramLink": {
                "type": "string"
              },
              "redeemRefId": {
                "type": "integer"
              },
              "utr": {
                "type": "string"
              }
            }
          }
        }
      },
      "CashgramDeactivateResponse": {
        "title": "CashgramDeactivateResponse",
        "description": "Response for deactivating a cashgram",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          }
        }
      },
      "BeneficiaryDetailsResponseV2": {
        "title": "BeneficiaryDetailsResponseV2",
        "description": "Beneficiary Details Response V2",
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "beneficiaryId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "groupName": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "bankAccount": {
                "type": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "addressLine1": {
                    "type": "string"
                  },
                  "addressLine2": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "pincode": {
                    "type": "string"
                  }
                }
              },
              "ifsc": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "vpa": {
                "type": "string"
              },
              "addedOn": {
                "type": "string"
              }
            }
          }
        },
        "example": {
          "success": true,
          "code": "Ok",
          "message": "Beneficiary details retrieved successfully",
          "data": {}
        }
      },
      "GetIncidentsResponse": {
        "title": "GetIncidentsResponse",
        "description": "Response for getting incidents",
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "subCode": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "properties": {
              "incidents": {
                "type": "array",
                "items": {
                  "title": "IncidentExternal",
                  "description": "External Incident",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "type": {
                      "type": "string"
                    },
                    "entity": {
                      "type": "string"
                    },
                    "mode": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string"
                    },
                    "resolvedAt": {
                      "type": "string"
                    },
                    "isScheduled": {
                      "type": "boolean"
                    },
                    "isResolved": {
                      "type": "boolean"
                    },
                    "impact": {
                      "type": "string"
                    },
                    "entityName": {
                      "type": "string"
                    },
                    "entityCode": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "IncidentExternal": {
        "title": "IncidentExternal",
        "description": "External Incident",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "entity": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "createdAt": {
            "type": "string"
          },
          "resolvedAt": {
            "type": "string"
          },
          "isScheduled": {
            "type": "boolean"
          },
          "isResolved": {
            "type": "boolean"
          },
          "impact": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "entityCode": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "xRequestIDHeader": {
        "in": "header",
        "name": "x-request-id",
        "description": "Request id for the API call. Can be used to resolve tech issues. Communicate this in your tech related queries to cashfree",
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "4dfb9780-46fe-11ee-be56-0242ac120002"
      }
    },
    "requestBodies": {
      "TransferRequestV12": {
        "description": "Request body to create a transfer",
        "content": {
          "application/json": {
            "schema": {
              "title": "TransferRequestV12",
              "description": "Transfer Request v1.2",
              "type": "object",
              "properties": {
                "amount": {
                  "type": "number",
                  "format": "double",
                  "description": "amount to be transferred. Decimals allowed (>= 1.00)"
                },
                "beneId": {
                  "type": "string",
                  "description": "Beneficiary Id. Alphanumeric characters allowed."
                },
                "transferId": {
                  "type": "string",
                  "description": "A unique Id to identify this transfer. Alphanumeric and underscore (_) allowed (40 character limit)."
                },
                "transferMode": {
                  "type": "string",
                  "description": "It is the mode of transfer. Allowed values are: banktransfer, neft, imps, rtgs, upi, paytm, and amazonpay. The default transferMode is banktransfer."
                },
                "remarks": {
                  "type": "string",
                  "description": "Additional remarks, if any. Alphanumeric and white spaces allowed (70 characters limit)."
                },
                "transferType": {
                  "type": "string",
                  "description": "Transfer Type",
                  "maxLength": 7
                },
                "ipAddress": {
                  "type": "string",
                  "description": "IP Address of the caller"
                },
                "product": {
                  "type": "string",
                  "description": "Cashfree Product Name"
                },
                "paymentInstrumentId": {
                  "type": "string",
                  "description": "Specify the fund source ID from where you want the amount to be debited."
                }
              },
              "required": [
                "beneId",
                "amount",
                "transferId"
              ]
            },
            "examples": {
              "transfer_request_v12_imps": {
                "summary": "Transfer Request v1.2 with transfer mode IMPS",
                "description": "Transfer Request v1.2 with transfer mode IMPS",
                "value": {
                  "beneId": "JOHN18012",
                  "amount": "15.00",
                  "transferId": "JUNOB2018",
                  "transferMode": "IMPS"
                }
              },
              "transfer_request_v12_paymentInstrumentId": {
                "summary": "Transfer Request v1.2 with payment instrument id",
                "description": "Transfer Request v1.2 with payment instrument id",
                "value": {
                  "beneId": "MAC27122",
                  "amount": "15.00",
                  "transferId": "APROB2019",
                  "paymentInstrumentId": "ICICI_TEST_2012"
                }
              }
            }
          }
        }
      }
    },
    "responses": {},
    "examples": {
      "transfer_request_v12_imps": {
        "summary": "Transfer Request v1.2 with transfer mode IMPS",
        "description": "Transfer Request v1.2 with transfer mode IMPS",
        "value": {
          "beneId": "JOHN18012",
          "amount": "15.00",
          "transferId": "JUNOB2018",
          "transferMode": "IMPS"
        }
      },
      "transfer_request_v12_paymentInstrumentId": {
        "summary": "Transfer Request v1.2 with payment instrument id",
        "description": "Transfer Request v1.2 with payment instrument id",
        "value": {
          "beneId": "MAC27122",
          "amount": "15.00",
          "transferId": "APROB2019",
          "paymentInstrumentId": "ICICI_TEST_2012"
        }
      },
      "add_beneficiary_request": {
        "summary": "Create Beneficiary Request",
        "description": "Request Body for adding a new beneficiary",
        "value": {
          "beneId": "JOHN18011343",
          "name": "john doe",
          "email": "johndoe@cashfree.com",
          "phone": "9876543210",
          "bankAccount": "00111122233",
          "ifsc": "HDFC0000001",
          "vpa": "test@upi",
          "address1": "ABC Road",
          "address2": "XYZ Layout",
          "city": "Bangalore",
          "state": "Karnataka",
          "pincode": "560001"
        }
      },
      "remove_beneficiary_request": {
        "summary": "Remove Beneficiary Request",
        "description": "Remove Beneficiary Request",
        "value": {
          "beneId": "JOHN18011343"
        }
      },
      "self_withdrawal_request": {
        "summary": "Self Withdrawal Request",
        "description": "Request Body for doing self-withdrawal",
        "value": {
          "withdrawalId": "1",
          "amount": 20
        }
      },
      "internal_transfer_request": {
        "summary": "Internal Transfer Request",
        "description": "Request Body for doing internal transfer",
        "value": {
          "amount": 10.5,
          "rechargeAccount": "492372992"
        }
      },
      "internal_transfer_request_v12": {
        "summary": "Internal Transfer Request v1.2",
        "description": "Request Body for doing internal transfer v1.2",
        "value": {
          "toPaymentInstrumentId": "COLENDING_WALLET_336561_8888981",
          "paymentInstrumentId": "COLENDING_WALLET_336561_8888982",
          "amount": 10.5,
          "remarks": "some remarks",
          "transferId": "testingw123"
        }
      },
      "transfer_request": {
        "summary": "Transfer Request",
        "description": "Request Body for making a transfer",
        "value": {
          "beneId": "JOHN18011",
          "amount": "1.00",
          "transferId": "JUNOB2018"
        }
      },
      "direct_transfer_request": {
        "summary": "Direct Transfer Request",
        "description": "Request Body for making a transfer with beneficiary bank account details",
        "value": {
          "amount": 30,
          "transferId": "JUNOB2018142",
          "transferMode": "banktransfer",
          "remarks": "test",
          "beneDetails": {
            "bankAccount": "026291800001191",
            "ifsc": "YESB0000262",
            "name": "Ranjiths",
            "email": "ranjiths@cashfree.com",
            "phone": "9999999999",
            "address1": "any_dummy_value"
          }
        }
      },
      "batch_transfer_request": {
        "summary": "Batch Transfer Request",
        "description": "Request Body for making a batch transfer",
        "value": {
          "batchTransferId": "abc-12356",
          "batchFormat": "BANK_ACCOUNT",
          "batch": [
            {
              "amount": "1",
              "transferId": "1234",
              "remarks": "Transfer with Id 12356",
              "name": "john doe",
              "email": "johndoe@cashfree.com",
              "phone": 9876543210,
              "bankAccount": "00111122233",
              "ifsc": "HDFC0000001"
            }
          ]
        }
      },
      "card_pay_request": {
        "summary": "Card Pay Request",
        "description": "Request Body for making transfer to a card",
        "value": {
          "token": "4640837720072836",
          "amount": 1.2,
          "transferId": "cardpay_11",
          "remarks": "Transfer to card",
          "name": "John Doe",
          "networkType": "VISA",
          "tokenExpiry": "2026-07",
          "cardType": "CREDIT"
        }
      },
      "lend_request_with_beneId": {
        "summary": "Lend Request with Beneficiary ID",
        "description": "Request body for loan disbursement to beneficiary with beneficiary id",
        "value": {
          "beneId": "bene1",
          "loanId": "laon1",
          "amount": "1000",
          "transferMode": "imps",
          "serviceCharges": [
            {
              "key": "something",
              "value": "50"
            }
          ]
        }
      },
      "lend_request_with_bene_details": {
        "summary": "Lend Request with beneficiary details",
        "description": "Request body for loan disbursement to beneficiary with beneficiary details",
        "value": {
          "loanId": "laon1",
          "amount": "1000",
          "transferMode": "imps",
          "serviceCharges": [
            {
              "key": "something",
              "value": "50"
            }
          ],
          "beneDetails": {
            "name": "Test",
            "email": "test@cashfree.com",
            "phone": "8765434569",
            "address1": "xyz",
            "vpa": "success@upi"
          }
        }
      },
      "transfer_request_v12": {
        "summary": "Transfer Request v1.2",
        "description": "Transfer Request v1.2",
        "value": {
          "beneId": "JOHN18011",
          "amount": "1.00",
          "transferId": "JUNOB2018"
        }
      },
      "direct_transfer_v12": {
        "summary": "Direct Transfer Request v1.2",
        "description": "Request Body for making a transfer with beneficiary bank account details v1.2",
        "value": {
          "amount": 30,
          "transferId": "JUNOB2018142",
          "transferMode": "banktransfer",
          "remarks": "test",
          "beneDetails": {
            "bankAccount": "026291800001191",
            "ifsc": "YESB0000262",
            "name": "Ranjiths",
            "email": "ranjiths@cashfree.com",
            "phone": "9999999999",
            "address1": "any_dummy_value"
          },
          "paymentInstrumentId": "YESB_CONNECTED"
        }
      },
      "batch_transfer_request_v12": {
        "summary": "Batch Transfer Request v1.2",
        "description": "Request Body for making a batch transfer v1.2",
        "value": {
          "batchTransferId": "batch_req_21",
          "batchFormat": "BANK_ACCOUNT",
          "deleteBene": 0,
          "batch": [
            {
              "transferId": "TransferID1",
              "amount": "10",
              "bankAccount": "7766666351004",
              "ifsc": "YESB0000001",
              "phone": "9999999998",
              "email": "test@gmail.com",
              "name": "Transfer1"
            },
            {
              "transferId": "TransferID2",
              "amount": "10",
              "bankAccount": "7766666351004",
              "ifsc": "YESB0000001",
              "phone": "9999999998",
              "email": "test@gmail.com",
              "name": "Transfer2"
            }
          ],
          "paymentInstrumentId": "IBL_CONNECTED"
        }
      },
      "create_cashgram_request": {
        "summary": "Create Cashgram Request",
        "description": "Request Body for creating a new cashgram",
        "value": {
          "cashgramId": "JOHaN10",
          "amount": "1.00",
          "name": "John Doe",
          "email": "johndoe@cashfree.com",
          "phone": "9876543210",
          "linkExpiry": "2020/04/01",
          "remarks": "sample cashgram",
          "notifyCustomer": 1
        }
      },
      "deactivate_cashgram_request": {
        "summary": "Deactivate Cashgram Request",
        "description": "Request Body for deactivating a cashgram",
        "value": {
          "cashgramId": "JOHaN10"
        }
      },
      "authorize_response": {
        "summary": "Authorize Success Response",
        "description": "Authorize Success Response",
        "value": {
          "status": "SUCCESS",
          "message": "Token generated",
          "subCode": "200",
          "data": {
            "token": "eyJ0eXA...fWStg",
            "expiry": 1564130052
          }
        }
      },
      "add_beneficiary_response": {
        "summary": "New Beneficiary created",
        "description": "New Beneficiary created",
        "value": {
          "status": "SUCCESS",
          "message": "Beneficiary added successfully",
          "subCode": "200"
        }
      },
      "get_beneficiary_response": {
        "summary": "Beneficiary details fetched successfully",
        "description": "Beneficiary details fetched successfully",
        "value": {
          "status": "SUCCESS",
          "subCode": "200",
          "message": "Details of beneficiary",
          "data": {
            "beneId": "JOHN18011",
            "name": "John",
            "groupName": "DEFAULT",
            "email": "johndoe@cashfree.com",
            "phone": "9876543210",
            "address1": "ABCavenue",
            "address2": "",
            "city": "Bangalore",
            "state": "Karnataka",
            "pincode": "0",
            "bankAccount": "00001111222233",
            "ifsc": "HDFC0000001",
            "status": "VERIFIED",
            "vpa": "test@upi",
            "addedOn": "2022-10-12 15:23:00"
          }
        }
      },
      "get_beneficiary_id_response": {
        "summary": "Get Beneficiary Details by bank details",
        "description": "Get Beneficiary Details by bank details",
        "value": {
          "status": "SUCCESS",
          "subCode": "200",
          "message": "beneId retrieved successfully",
          "data": {
            "beneId": "JOHN18011"
          }
        }
      },
      "remove_beneficiary_response": {
        "summary": "Beneficiary Removed Successfully",
        "description": "Beneficiary Removed Successfully",
        "value": {
          "status": "SUCCESS",
          "subCode": "200",
          "message": "Beneficiary removed"
        }
      },
      "beneficiary_history_response": {
        "summary": "Beneficiary Transfer History fetched successfully",
        "description": "Beneficiary Transfer History fetched successfully",
        "value": {
          "status": "SUCCESS",
          "subCode": "200",
          "message": "Data retrieved successfully",
          "data": {
            "transfers": [
              {
                "transferDate": "2020-06-16",
                "amount": "1",
                "mode": "IMPS",
                "beneId": "John Doe",
                "status": "SUCCESS"
              },
              {
                "transferDate": "2020-05-28",
                "amount": "1",
                "mode": "NEFT",
                "beneId": "John Doe",
                "status": "SUCCESS"
              },
              {
                "transferDate": "2020-05-15",
                "amount": "1.1",
                "mode": "IMPS",
                "beneId": "John Doe",
                "status": "SUCCESS"
              },
              {
                "transferDate": "2020-05-15",
                "amount": "1.1",
                "mode": "IMPS",
                "beneId": "John Doe",
                "status": "SUCCESS"
              },
              {
                "transferDate": "2020-05-15",
                "amount": "1",
                "mode": "IMPS",
                "beneId": "John Doe",
                "status": "SUCCESS"
              }
            ]
          }
        }
      },
      "get_balance_response": {
        "summary": "Account Balance fetched successfully",
        "description": "Account Balance fetched successfully",
        "value": {
          "status": "SUCCESS",
          "subCode": "200",
          "message": "Ledger balance for the account",
          "data": {
[...]
