<div class="alert alert-success" role="alert" *ngIf="userCreated">
    Driver Successfully Deleted
</div>
<div class="bank-alert">
<div class="alert alert-success" *ngIf="bankAccountCreated" role="alert">
    Your Bank Account is create!
</div>
<div class="alert alert-success " *ngIf="bankAccountCreated" role="alert">
    Bank Account have been Sync...
</div>
</div>

<form class="m-3 bg-dark" (ngSubmit)="onCreateUser()" #form="ngForm">
    <h3 class="text-light ml-3 p-2">Create a New Driver</h3>
    <div class="row  text-light px-4 pt-2 pb-3">
        <div class="col">
            <label for="userProfile" name="userProfile">Driver Profile</label>
            <input type="text" ngModel required name="userProfile" class="form-control" placeholder="User Profile">
        </div>
        <div class="col">
            <label for="username" name="username">Name</label>
            <input type="text" ngModel required name="username" class="form-control" placeholder="Username">
        </div>
        <div class="col">
            <label for="name" name="email">Email</label>
            <input type="text" ngModel required name="email" class="form-control" placeholder="User Email">
        </div>
        <div class="col">
            <label for="name" name="phone">Phone No.</label>
            <input type="text" ngModel required name="phone" class="form-control" placeholder="Phone">
        </div>
        <!-- Dropdown for selecting country -->
        <div class="mb-3">
            <label for="countrySelect" class="form-label">Select Country</label>
            <select id="countrySelect" class="form-select form-control" ngModel required name="countryCode"
                (change)="onCountryChange($event)">
                <option value="" disabled selected>Select Country</option>
                <option *ngFor="let country of countries" [id]="country._id" [value]="country.countryCode">{{country.name}}
                </option>
            </select>
        </div>
        <!-- Dropdown for selecting city/zone -->
        <div class="mb-3 mx-2">
            <label for="citySelect" class="form-label">Select City/Zone</label>
            <select ngModel required name="city" id="citySelect" class="form-select form-control"
                (change)="onCityChange($event)">
                <option value="" disabled selected>Select City/Zone</option>
                <option *ngFor="let city of filteredCityArray" [value]="city.city">{{city.city}}</option>
            </select>
        </div>
        <!-- <div class="col">
            <label for="name" name="countryCode">Country Code</label>
            <input type="text" ngModel required name="countryCode" class="form-control" placeholder="Country Code">
        </div> -->
    </div>
    <button class="btn btn-success btn-lg m-4" [disabled]="!form.valid">Submit</button>
</form>
<hr>
<div class="alert alert-success" role="alert" *ngIf="userDeleted">
    Driver Successfully Deleted
</div>
<h3 class="ml-3">Driver's List: </h3>
<hr>
<!-- <div class="row bg-dark py-3"> -->

<div class="row bg-dark py-3">
    <div class="col-sm">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{sortType}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="onSortTable('date')">Date/Time</a>
                <a class="dropdown-item" (click)="onSortTable('ascending')">Ascending</a>
                <a class="dropdown-item" (click)="onSortTable('descending')">Descending</a>
                <a class="dropdown-item" (click)="serverHandledSorting('userProfile')">User Profile</a>
                <a class="dropdown-item" (click)="serverHandledSorting('username')">Username</a>
                <a class="dropdown-item" (click)="serverHandledSorting('email')">Email</a>
                <a class="dropdown-item" (click)="serverHandledSorting('phone')">Phone</a>
                <a class="dropdown-item" (click)="serverHandledSorting('countryCode')">Country Code</a>
                <a class="dropdown-item" (click)="serverHandledSorting('city')">City</a>

            </div>
        </div>
    </div>
    <div class="col-2 mx-4">
        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Order By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="orderTableBy('asc')">Ascending</a>
                <a class="dropdown-item" (click)="orderTableBy('desc')">Descending</a>
            </div>
        </div>
    </div>
    <div class="col-1">
        <div class="dropdown ">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{searchByFilter}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" (click)="onSelectSearchFilter('userProfile')">User Profile</button>
                <button class="dropdown-item" (click)="onSelectSearchFilter('username')">Username</button>
                <button class="dropdown-item" (click)="onSelectSearchFilter('email')">Email</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <form class="form-inline d-flex mx-3" (ngSubmit)="onSearchUser()" #searchForm="ngForm">
            <input ngModel required name="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search">
            <button [disabled]="!searchForm.valid" class="btn btn-outline-light my-2 my-sm-0 ml-auto"
                type="submit">Search</button>
        </form>
    
    </div>
</div>

<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">User Profile</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Country Code</th>
            <th scope="col">City</th>
            <th scope="col">Actions</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.userProfile}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.countryCode}}</td>
            <td>{{user.city}}</td>
            

            <td>
                <!-- <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit
                    </button>
                    <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                        <form>
                            <input #userProfile class="px-2 m-1" type="text"
                                placeholder="Change UserProfile" >
                            <input #username  class="px-2 m-1" type="text"
                                placeholder="Change Username">
                            <input #email  class="px-2 m-1" type="email"
                                placeholder="Change Email" >
                            <input #phone name="phone" required class="px-2 m-1" type="text" placeholder="Change Phone"
                               >
                            <input #countryCode  class="px-2 m-1" type="text"
                                placeholder="Country Code" >
                            <button type="submit" (click)="onSubmitData()" class="btn btn-success p-2">Edit</button>
                        </form>
                    </div>
                </div> -->

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateDriverModal"
                    (click)="loveEditingThings(user._id)">
                    Edit
                </button>
                <!-- <button class="btn btn-info m-1">Stripe</button> -->
                <button class="btn btn-danger m-1" (click)="onDeleteUser(user._id)">Delete</button>
                <!-- <label for="vehicleSelect">Assign Vehicle:</label> -->
                 
              
                <!-- <button class="btn btn-info m-1 btn-md dropdown-toggle" id="assignDriverVehicle" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                (click)="onAssignVehicle(user.city)"
                >Assign Vehicle</button>
                    <div class="dropdown-menu" aria-labelledby="assignDriverVehicle">
                        <div class="loop-container  p-2 bg-light"  >
                          <ul class="my-2 bookings" *   ngFor="let ride of filteredRidesByCity">
                            <li>Order By: {{ride.userId.username}}</li>
                            <li>Phone: {{ride.phone}}</li>
                            <li>Pickup Location: {{ride.pickupLocation}}</li>
                            <hr>
                          </ul>
                        </div>
                    </div> -->
                    <div class="dropdown m-2 d-inline-block">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Configure Driver
                        </button>
                        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                        <button class="btn btn-outline-info mx-2 my-2 btn-md" (click)="onAssignVehicle(user)" data-toggle="modal"
                            data-target="#assignVehicleToDriver">
                            Assign Vehicle
                        </button>
                        <button class="btn btn-outline-primary mx-2 my-2 btn-md dropdown-toggle" type="button" id="driverStatusDropdown{{i}}"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="driverStatusDropdown{{i}}">
                            <a class="dropdown-item" (click)="toggleDriverStatus(user, 'Approved')">Approve</a>
                            <a class="dropdown-item" (click)="toggleDriverStatus(user, 'Declined')">Decline</a>
                        </div>
                        <button type="button" class="btn btn-outline-success btn-sm mx-2 my-2" data-toggle="modal" data-target="#driverBankAccount"
                            (click)="createBankAccount(user)">
                            Create Bank Account
                        </button>
                        <!-- <button type="button" class="btn btn-outline-success btn-sm mx-2 my-2" data-bs-toggle="modal" 
                        data-target="#accountUpdateModal" (click)="updateBankDetails(user)">
                            Update Account
                        </button> -->
                        <button type="button" class="btn btn-outline-success btn-sm mx-2 my-2" data-toggle="modal"
                            data-target="#updateDriverBankAccount" (click)="updateBankDetails(user)">
                            Update Bank Details
                        </button>
                        </div>
                        
                    </div>
                    <!-- Assign Vehicle Button -->
                    
           



            </td>

        </tr>

    </tbody>
</table>



<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="changePage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav>


<hr>
<!-- <h3>Search User: </h3>
<div class="alert alert-success" role="alert" *ngIf="searchUser">
    One User Found With search Params: Filter:{{searchByFilter}} and Input:{{searchObject.searchInput}}
</div> -->
<!-- <div class="row">
    <nav class="navbar navbar-light bg-light">
        <div class="dropdown my-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{searchByFilter}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" (click)="onSelectSearchFilter('userProfile')">User Profile</button>
                <button class="dropdown-item" (click)="onSelectSearchFilter('username')">Username</button>
                <button class="dropdown-item" (click)="onSelectSearchFilter('email')">Email</button>
            </div>
        </div>
        <form class="form-inline mx-3" (ngSubmit)="onSearchUser()" #searchForm="ngForm">
            <input ngModel required name="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search"
                aria-label="Search">
            <button [disabled]="!searchForm.valid" class="btn btn-outline-success 
                    my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="col-sm user" *ngIf="searchUser">
        <div class="card fs-3" style="width: 20rem;">
            <div class="card-body">
                <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/user-male-circle.png"
                    alt="user-male-circle" />
                <h5 class="card-title">User Profile: {{user.userProfile | uppercase}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Username: {{user.username| uppercase}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Email: {{user.email}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Phone: {{user.phone}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Country: {{user.countryCode}}</h6>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
</div>
<hr> -->

<!-- Modal -->

<!-- The Modal -->
<div class="modal" id="updateDriverModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Driver</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
            <!-- app.component.html -->
            <div class="background">
                <div class="glass-form-container">
                    <form class="glass-form" (ngSubmit)="onUpdateDriver()" #updateForm="ngForm">
                        <h3 class="form-title">Update Driver</h3>
                        <div class="row form-content">
                            <div class="col-md-6 mb-3">
                                <label for="driverProfile">Driver Profile</label>
                                <input type="text" ngModel required name="driverProfile" class="form-control"
                                    placeholder="Driver Profile">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="driverName">Name</label>
                                <input type="text" ngModel required name="driverName" class="form-control" placeholder="Name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="driverEmail">Email</label>
                                <input type="email" ngModel required name="driverEmail" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="driverPhone">Phone No.</label>
                                <input type="text" ngModel required name="driverPhone" class="form-control" placeholder="Phone">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="countrySelect" class="form-label">Select Country</label>
                                <select id="countrySelect" class="form-control" ngModel required name="countryCode"
                                    (change)="onCountryChange($event)">
                                    <option value="" disabled selected>Select Country</option>
                                    <option *ngFor="let country of countries" [value]="country.countryCode">{{country.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="citySelect" class="form-label">Select City/Zone</label>
                                <select ngModel required name="city" id="citySelect" class="form-control"
                                    (change)="onCityChange($event)">
                                    <option value="" disabled selected>Select City/Zone</option>
                                    <option *ngFor="let city of filteredCityArray" [value]="city.city">{{city.city}}</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn-submit" [disabled]="!updateForm.valid">Update</button>
                    </form>
                </div>
            </div>

            </div>

        </div>
    </div>
</div>

<div class="modal" id="assignVehicleToDriver">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Vehicles Available in this City</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="loop-container p-2">
                    <div class="row p-3 bookings"
                    *ngFor="let vehicle of combinedPricingAndVehicleObject; let i = index">
                        <div class="col-sm">
                            <img [src]="vehicle.vehicleImageURL" style="width: 10rem; height: max-content" alt="">
                        </div>
                        <div class="col-sm">
                            <h5>Country: {{vehicle.country?.name}}</h5>
                            <h5>Vehicle: {{vehicle.vehicleType}}</h5>
                        </div>
                        <div class="col-sm">
                            <h5>City: {{vehicle.city?.city}}</h5>
                            <h5>Seating: {{vehicle.maxSpace}}</h5>
                        </div>
                        <!-- Display Assign Button when vehicle types do NOT match -->
                    <div class="col-1" *ngIf="serviceAssignedCheck?.vehicleType !== vehicle.vehicleType">
                        <button class="btn btn-outline-light"
                        (click)="onUpdateService(vehicle)">
                            <img width="35" height="35" src="https://img.icons8.com/cotton/64/loop.png" alt="loop" />
                        </button>
                    </div>
                    <div class="col-2 mx-3" *ngIf="serviceAssignedCheck?.vehicleType !== vehicle.vehicleType"
                    (click)="onAssignBooking(vehicle, i)">
                        <button class="btn btn-sm btn-outline-success">
                            Assign Service
                        </button>
                    </div>
                    <div class="col-2 mx-3" *ngIf="serviceAssignedCheck?.vehicleType === vehicle.vehicleType">
                        <button class="btn btn-lg btn-outline-success">
                            Assigned
                        </button>
                    </div>
                    
                        <!-- Always Display Delete/Remove Button -->
                        <div class="col-1 mx-3" *ngIf="serviceAssignedCheck?.vehicleType === vehicle.vehicleType" >
                            <button class="btn btn-outline-light"
                            (click)="onDeleteService()">
                                <img width="35" height="35" src="https://img.icons8.com/color/48/delete-forever.png"
                                    alt="delete-forever" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Trigger Button -->
<!-- Modal -->
<!-- src/app/components/onboarding/onboarding.component.html -->
<div class="modal fade" id="driverBankAccount" tabindex="-1" role="dialog" aria-labelledby="DriverBankAccount"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="bankAccountModalLabel">Driver Onboarding</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="bankAccountForm" (ngSubmit)="onSubmit()">

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email"
                            placeholder="Enter email">
                        <div *ngIf="bankAccountForm.get('email').touched && bankAccountForm.get('email').invalid"
                            class="text-danger">
                            Email is required and must be valid.
                        </div>
                    </div>

                    <!-- Business Profile URL -->
                    <div class="mb-3">
                        <label for="businessUrl" class="form-label">Business Profile URL</label>
                        <input type="url" id="businessUrl" class="form-control" formControlName="business_url"
                            placeholder="https://your-platform-url.com">
                        <div *ngIf="bankAccountForm.get('business_url').touched && bankAccountForm.get('business_url').invalid"
                            class="text-danger">
                            A valid business URL is required.
                        </div>
                    </div>

                    <!-- Country (Optional: If you want to allow multiple countries) -->
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" class="form-control" formControlName="country" value="DE"
                            readonly />
                        <!-- If country is fixed, you can set it as readonly or hidden -->
                        <!-- Otherwise, remove the readonly attribute to allow user input -->
                        <div *ngIf="bankAccountForm.get('country').touched && bankAccountForm.get('country').invalid"
                            class="text-danger">
                            Country is required.
                        </div>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-success w-100 mt-3" [disabled]="bankAccountForm.invalid">
                        <i class="bi bi-check-circle me-2"></i>Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Update account data-->



    <!-- Modal -->
        <!-- Modal -->
        <div class="modal fade" id="updateDriverBankAccount" tabindex="-1" role="dialog" aria-labelledby="DriverBankAccount"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="bankAccountModalLabel">Update Driver Bank Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="accountUpdateForm" (ngSubmit)="submitUpdatedBankDetails()">
                            <!-- Business MCC -->
                            <div class="mb-3">
                                <label for="businessMCC" class="form-label">Business MCC (Transportation)</label>
                                <input type="text" id="businessMCC" class="form-control" formControlName="business_mcc"
                                    />
                            </div>
        
                            <!-- Bank Account Holder Name -->
                            <div class="mb-3">
                                <label for="accountHolderName" class="form-label">Account Holder Name</label>
                                <input type="text" id="accountHolderName" class="form-control"
                                    formControlName="account_holder_name" placeholder="John Doe" />
                                <div *ngIf="accountUpdateForm.get('account_holder_name').touched && accountUpdateForm.get('account_holder_name').invalid"
                                    class="text-danger">
                                    Account holder name is required.
                                </div>
                            </div>
        
                            <!-- IBAN (Bank Account Number) -->
                            <div class="mb-3">
                                <label for="accountNumber" class="form-label">IBAN (Account Number)</label>
                                <input type="text" id="accountNumber" class="form-control" formControlName="account_number"
                                    placeholder="DE89370400440532013000" />
                                <div *ngIf="accountUpdateForm.get('account_number').touched && accountUpdateForm.get('account_number').invalid"
                                    class="text-danger">
                                    <div *ngIf="accountUpdateForm.get('account_number').errors.required">Account number is
                                        required.</div>
                                    <!-- <div *ngIf="accountUpdateForm.get('account_number').errors.pattern">Invalid IBAN format.
                                    </div> -->
                                </div>
                            </div>
        
                            <!-- Country -->
                            <div class="mb-3">
                                <label for="country" class="form-label">Country</label>
                                <input type="text" id="country" class="form-control" formControlName="country" value="DE"
                                    />
                            </div>
        
                            <!-- Account Holder Type -->
                            <div class="mb-3">
                                <label for="accountHolderType" class="form-label">Account Holder Type</label>
                                <input type="text" id="accountHolderType" class="form-control"
                                    formControlName="account_holder_type" value="individual"  />
                            </div>
        
                            <!-- Card Capabilities Checkbox -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="cardCapabilities"
                                    formControlName="card_capabilities" />
                                <label class="form-check-label" for="cardCapabilities">Enable Card Payments</label>
                            </div>
        
                            <!-- Accept Terms of Service -->
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="acceptTos" formControlName="accept_tos" />
                                <label class="form-check-label" for="acceptTos">I accept the Terms of Service</label>
                                <div *ngIf="accountUpdateForm.get('accept_tos').touched && accountUpdateForm.get('accept_tos').invalid"
                                    class="text-danger">
                                    You must accept the Terms of Service.
                                </div>
                            </div>
        
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-success w-100 mt-3" [disabled]="accountUpdateForm.invalid">
                                Update Account
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>