#map {

    border: 1px solide #212121;
    /* Adjust width as needed */
}

ul{
    list-style-type: none;
    margin-top: 5px;
    padding-left: 0;
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
}
.map-container{
    border-radius: 10px;
}
li{
    background-color: black;
    border: 1px solid rgba(24, 24, 24, 0.715);
    padding: 10px;
    color:white
}
li:hover{
    background-color: rgba(0, 0, 0, 0.822);
    /* color: rgb(255, 255, 255); */
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.589);
    cursor: pointer;
}
input{
    border-radius: 10px;
    height: 3rem;
}
/* .btn{
font-size: smaller;
border: none !important;

} */
img{
    border-radius: 50%;
    width: 50px;
        height: 50px;
}
.direction:hover{
    background-color: rgb(198, 228, 200);
    transition: 0.3s ease-out;
    box-shadow: 5px 5px 5px black;
    color: white;
/* background:none;
border: none;   */
}

.position-relative {
    position: relative;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    /* Position below the input field */
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    /* Ensure it appears above other elements */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}
.card{
    position: absolute;
    top: 28%;
    left: 2.5%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}