.container{
    margin-top: 1%;
    padding:20px;
    max-width: 50%;
    height: 70vh;
    
    
    /* box-shadow: 5px 5px 5px rgb(71, 71, 71); */
}
.nav, .container{
    background-color: #d3e3ff;

}
label{
    font-size: 1.5rem;
    font-weight: 600;
}
form{
    padding: 20px;
}