<div class="container ">
    <div class="row">
        <div class="col-12 ">
            <!-- <h1>Pricing</h1> -->
            <ul class="nav nav-tabs bg-dark mt-3">
                <li class="p-4 active"  routerLinkActive="active"
                [routerLinkActiveOptions]="{exact : true}">
                    <a class="text-white" [routerLink]="['/pricing/city']">City</a>
                </li>
                <li class="p-4" routerLinkActive="active">
                    <a class="text-white" [routerLink]="['/pricing/country']">Country</a>
                </li>
                <li class="p-4" routerLinkActive="active">
                    <a class="text-white" [routerLink]="['/pricing/vehicle-pricing']">Vehicle Pricing</a>
                </li>
                <li class="p-4" routerLinkActive="active">
                    <a class="text-white" [routerLink]="['/pricing/vehicle-type']">Vehicle Type</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="row pricing-list">
    <div class="col-12">
        <router-outlet></router-outlet>
    </div>
</div>