<!-- Lottie Animation Wrapper -->
<div class="lottie-background" *ngIf="!isLoggedIn">
    <div class="row" [appLottie]="lottieOptions"></div>
</div>

<!-- Angular Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="red" type="square-loader" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- Main Content -->
<app-header *ngIf="isLoggedIn"></app-header>
<app-dashboard-menu (loginEvent)="stateChange()" *ngIf="isLoggedIn; else redirect"></app-dashboard-menu>
    
<ng-template #redirect>
    <app-login></app-login>
</ng-template>