.vertical{
    height: 8vw;
    width: 0px;
    border: 1px solid black;
}
/* .bookings{
    display: flex;
    align-items: center;
    justify-content: center;
} */
 .driver-list{
    background-color: aliceblue;
    font-weight: bold;
  
 }
 .row{
    text-align: center;
 }
 .driver-list:hover{
    background-color: #62cffd;
    transition: 0.2s ease-in;
    cursor: pointer;    
 }

.filter-section {
   border-radius: 10px 10px 0px 0px;
}
.filter-section .form-label {
   padding-left: 0;
   /* Remove padding on the left */
   margin-bottom: 5px;
   /* Adjust the space below the label */
}