<!-- Alerts -->
<div class="alert alert-success" *ngIf="rideAccepted" role="alert">
    New Ride Request Accepted!
</div>

<!-- confirmed-rides.component.html -->



<!-- Rides Table -->
<div class="table-responsive">
    <!-- Filter Section -->
    <div class="filter-section mx-0 mt-3 mb-0 p-3 bg-dark text-light">
        <div class="row g-3">
            <div class="col-md-4">
                <label for="statusFilter" class="form-label text-start w-100">Filter by Status:</label>
                <select id="statusFilter" class="form-select form-control" (change)="filterByStatus($event)">
                    <option value="">All</option>
                    <option *ngFor="let status of statusOptions" [value]="status">{{status}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="vehicleFilter" class="form-label text-start w-100">Filter by Vehicle:</label>
                <select id="vehicleFilter" class="form-select form-control" (change)="filterByVehicle($event)">
                    <option value="">All</option>
                    <option *ngFor="let vehicle of vehicleOptions" [value]="vehicle">{{vehicle}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <div class="input-group">
                    <label for="searchInput" class="form-label text-start w-100">Search</label>
                    <input id="searchInput" type="text" class="form-control"
                        placeholder="Search by username, phone, or request ID" (input)="searchRides($event)">
                </div>
            </div>
        </div>
    
</div>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Request ID</th>
                <th>User Name</th>
                <th>User ID</th>
                <th>Pick Up Time</th>
                <th>Pick Up Address</th>
                <th>Drop Off Address</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ride of filteredRides">
                <td>{{ride._id}}</td>
                <td>{{ride.userId?.username}}</td>
                <td>{{ride.userId?._id}}</td>
                <td>{{ride.scheduleDateTime | date:'medium'}} </td>
                <td>{{ride.pickupLocation}}</td>
                <td>{{ride.dropOffLocation}}</td>
                <td>{{ride.serviceType}}</td>
                <td *ngIf="ride.status === 'Pending'; else accepted" 
                class="badge bg-warning m-2 px-3  py-3 text-light">
                    {{ride.status}}
                </td>
                <ng-template #accepted>
                    <td *ngIf="ride.status === serverRideStatus; else otherStatus" class="badge bg-success m-2 px-3 py-3 text-light">
                        {{ serverRideStatus }}
                    </td>
                    <ng-template #otherStatus>
                        <td class="badge bg-success m-2 px-3 py-3 text-light">
                            {{ ride.status }}
                        </td>
                    </ng-template>
                </ng-template>


                <td>
                    <button *ngIf="ride.status === 'Pending'" class="btn btn-primary btn-sm m-2" data-toggle="modal"
                        data-target="#confirm-ride" (click)="onAssignBooking(ride, 'Assigned')">Assign</button>
                    <button *ngIf="ride.status === 'Pending'" class="btn btn-danger btn-sm m-2"
                        (click)="cancelRide(ride._id)">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade"  id="confirm-ride" tabindex="-1" role="dialog" aria-labelledby="confirmRideModalLabel"
    aria-hidden="true" #myModal>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmRideModalLabel">Confirm Ride</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="loop-container p-2">
                    <h4><strong>Requested Ride</strong></h4>
                    <hr>
                    <div class="row p-3 booking">
                        <div class="col-sm driver-list mx-2 p-2">
                            <strong>
                                <img width="30" height="30" src="https://img.icons8.com/color/48/marker--v1.png"
                                    alt="marker--v1" />
                                <p>{{selectedRide?.pickupLocation}}</p>
                            </strong>
                        </div>
                        <hr class="vertical">
                        <div class="col-sm driver-list mx-2 p-2">
                            <strong>
                                <img width="30" height="30" src="https://img.icons8.com/color/48/filled-flag2--v1.png"
                                    alt="filled-flag2--v1" />
                                <p>{{selectedRide?.dropOffLocation}}</p>
                            </strong>
                        </div>
                        <hr class="vertical">
                        <div class="col-sm driver-list mx-2 p-2">
                            <div class="sm">
                                <img width="30" height="30" src="https://img.icons8.com/color/48/present.png"
                                    alt="present" />
                                <p><strong>Booking Option: {{selectedRide?.bookingOption | uppercase}}</strong></p>
                                <p><strong>Booking Time: {{selectedRide?.scheduleDateTime | date:'medium'}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                <div class="driver-container" *ngIf="filteredDriverList.length !== 0; else noDriverFound">
                    <h4><strong>Drivers Available</strong></h4>
                    <hr>
                    <div class="row p-3 driver-list m-2 p-2" *ngFor="let driver of filteredDriverList; let i = index"
                        (click)="onDriverSelect(driver, i)"
                        [ngStyle]="{'background-color': selectedDriverIndex === i ? '#62cffd' : ''}">
                        <div class="col-sm">Driver's Id: {{driver.driverObjectId.username}}</div>
                        <div class="col-sm">Name: {{driver.driverObjectId.userProfile}}</div>
                        <div class="col-sm">Phone No.: {{driver.driverObjectId.phone}}</div>
                        <div class="col-sm">Email Address: {{driver.driverObjectId.email}}</div>
                    </div>
                </div>
                <ng-template #noDriverFound>
                    <div class="col bg-warning p-3" >
                        <h4>Unfortunately😓, There is no Driver Available At this Moment</h4>
                    </div>
                </ng-template>

                    <div class="row p-3 book-ride-btn">
                        <div class="col-sm">
                            <button type="button" class="btn btn-outline-success"
                                (click)="assignSelectedDriver()">Assign Selected Driver</button>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="btn btn-outline-success"
                                (click)="assignAnyAvailableDriver()" [disabled]="disableDriver">Assign Any Available Driver</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>