
<div class="container-fluid ">

    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 col-sm-12  mt-5   sidebar">
            <div class="position-sticky nav-items-container">
               
                <ul class="nav flex-column">
                    <!-- 1. Rides -->
                    <li class="nav-item">
                        <button class="btn  nav-link" data-toggle="collapse" data-target="#ridesDropdown"
                            aria-expanded="false" aria-controls="ridesDropdown">
                            <img width="25" height="25" src="https://img.icons8.com/nolan/64/hover-car.png"
                                alt="hover-car" /> Rides
                        </button>
                        <div id="ridesDropdown" class="collapse">
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/rides/create-ride']"><img width="25"
                                            height="25" src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Create Ride</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/rides/confirm-ride']"><img width="25"
                                            height="25" src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Confirm Ride</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/rides/ride-history']"><img width="25"
                                            height="25" src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Ride History</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- 2. User -->
                    <li class="nav-item">
                        <button class="btn  nav-link" 
                        data-toggle="collapse" data-target="#userDropdown"
                        [routerLink]="['/users']"
                            aria-expanded="false" aria-controls="userDropdown">
                            <img width="25" height="25" src="https://img.icons8.com/3d-fluency/94/user-male-circle.png"
                                alt="user-male-circle" /> User
                        </button>
                    </li>
                    <!-- 3. Drivers -->
                    <li class="nav-item">
                        <button class="btn nav-link" 
                        data-toggle="collapse" data-target="#driversDropdown"
                            aria-expanded="false" aria-controls="driversDropdown">
                            <img width="25" height="25" src="https://img.icons8.com/arcade/64/driver.png"
                                alt="driver" /> Drivers
                        </button>
                        <div id="driversDropdown" class="collapse">
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item"  [routerLink]="['/drivers/driver-list']">
                                    <a class="nav-link" ><img width="25" height="25"
                                            src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> List</a>
                                </li>
                                <li class="nav-item"  [routerLink]="['/drivers/running-request']">
                                    <a class="nav-link" ><img width="25" height="25"
                                            src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Running Requests</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- 4. Pricing -->
                    <li class="nav-item">
                        <button class="btn  nav-link" data-toggle="collapse" data-target="#pricingDropdown"
                            aria-expanded="false" aria-controls="pricingDropdown">
                            <img width="25" height="25" src="https://img.icons8.com/dusk/64/tags.png" alt="tags" />
                            Pricing
                        </button>
                        <div id="pricingDropdown" class="collapse">
                            <ul class="nav flex-column pl-3">
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/pricing/country']"><img width="25" height="25"
                                            src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Country</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/pricing/city']"><img width="25" height="25"
                                            src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> City</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/pricing/vehicle-type']"><img width="25"
                                            height="25" src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Vehicle Type</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" [routerLink]="['/pricing/vehicle-pricing']"><img width="25"
                                            height="25" src="https://img.icons8.com/nolan/64/sort-right--v1.png"
                                            alt="sort-right--v1" /> Vehicle Pricing</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- 5. Settings -->
                    <li class="nav-item">
                        <button class="btn  nav-link" data-toggle="collapse" data-target="#settingsDropdown" 
                            [routerLink]="['/settings']"
                            aria-expanded="false" aria-controls="settingsDropdown">
                            <img width="25px" height="25px" src="https://img.icons8.com/plasticine/100/automatic.png"
                                alt="automatic" /> Settings
                        </button>
                    </li>
                </ul>
            </div>
            <div class="bottom-container">
               <div class="logout my-3">
                   <button class="btn mt-5 btn-lg btn-outline-danger py-3 px-4 logout" (click)="onLogout()">
                       Logout
                   </button>
               </div>
            
            <div class="session-timer col-7 ">
                <span>{{minutes}} </span>:<span> {{seconds}}</span>
            </div>
           </div>
           
        </nav>

        <!-- Sub-component -->
        <div class="col-lg-10 col-md-10 col-sm-12 sub-component mr-sm-5 pr-5">
            <div class="alert mt-2 alert-warning text-dark" *ngIf="logoutState" role="alert">
                User Logged Out
            </div>
            <div class="alert alert-warning" *ngIf="sessionEndingAlert" role="alert">
              <strong>  This sessions Ends in 1 minute</strong>
            </div>
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>