/* General styles */

.container,
a {
    color: white !important;
}

a:hover {
    background-color: black;
}

nav {
    background-color: rgba(0, 0, 0, 0.911);
}

ul>li,
.btn {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.nav-item button {
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.nav-items-container {
    margin-top: 50px;
}

.btn {
    color: white;
    font-weight: 600;
}

/* Sidebar styles */
.sidebar {
    min-height: 100vh;
    /* Make sidebar take full height */
    position: fixed;
    /* Fix the position of the sidebar */
    top: 0;
    /* Align it at the top */
    left: 0;
    /* Align it at the left */
    width: 16.66667%;
    /* 2 columns out of 12 */
    z-index: 9;
    /* Ensure it stays on top */
}

@media (max-width: 768px) {
    .sidebar {
        position: static;
        /* Make sidebar static on small screens */
        width: 100%;
        /* Full width on small screens */
    }
}

/* Sub-component styles */
.sub-component {
    margin-top: 5%;
    display: block;
    position: relative;
    left: 16.66667%;
    /* Align it next to the sidebar */
    width: 83.33333%;
    /* 10 columns out of 12 */
    /* background-color: #0c0c0fdb; */
    /* padding: 35px;
    border-radius: 0px; */
    /* border-radius: 0px;
    background-image: linear-gradient(to left bottom, #121313, #161617, #191a1a, #1d1d1d, #202020); */
}

@media (max-width: 768px) {
    .sub-component {
        position: static;
        /* Make sub-component static on small screens */
        width: 100%;
        /* Full width on small screens */
        margin-top: 20px;
        /* Adjust the top margin */
    }
}

.inactive-timer{
    border: 1px solid white;
    color: white;
    margin: auto 40% auto auto  ;
}

.session-timer{
    /* background-color: white; */
    color: rgb(255, 255, 255);
    padding: 0.7rem 10px;
    border-radius: 15px;
    border: 1px solid red;
    letter-spacing: 5px;
    text-align: center;
    /* box-shadow: 3px 8px 5px rgb(46, 46, 46); */
}
.bottom-container{
    position: relative;
    top: 15vw;
    letter-spacing: 3px;
    
}