.filter-barx {
    /* border: 1px solid black */
}
.hover-row:hover{
    cursor: pointer;
    background-color: rgba(31, 31, 31, 0.941);
    color: white;
    font-weight: 400;
    transition: 0.2s ease-in;
}
.filter-section{
    border-radius: 10px 10px 0px 0px;
}