<div *ngIf="countries.length">
    <ul>
        <li *ngFor="let country of countries">
            <p><strong>Name:</strong> {{ country.name.common }}</p>
            <p><strong>Currency:</strong> {{ country.currencies | json }}</p>
            <p><strong>Country Code:</strong> {{ country.cca3 }}</p>
            <p><strong>Calling Code:</strong> {{ country.idd.root }}{{ country.idd.suffixes[0] }}</p>
            <p><strong>Timezone:</strong> {{ country.timezones[0] }}</p>
            <img [src]="country.flags.svg" alt="{{ country.name.common }} flag" width="50">
        </li>
    </ul>
</div>