
<div class="mb-3 settings mt-4 ">
    <label for="acceptRequestTime" class="form-label display-4">Time for Driver to Accept Request (seconds)</label>
    <select id="acceptRequestTime" class="form-select" [(ngModel)]="acceptRequestTime" name="acceptRequestTime">
        <option value="10">10 seconds</option>
        <option value="20">20 seconds</option>
        <option value="30">30 seconds</option>
        <option value="45">45 seconds</option>
        <option value="60">60 seconds</option>
        <option value="90">90 seconds</option>
        <option value="120">120 seconds</option>
    </select>
</div>

<div class="mb-3 settings ">
    <label for="maxStops" class="form-label display-4 ">Maximum Stops Between Locations</label>
    <br>
    <select id="maxStops" class="form-select" [(ngModel)]="maxStops" name="maxStops">
        <option value="1">1 stop</option>
        <option value="2">2 stops</option>
        <option value="3">3 stops</option>
        <option value="4">4 stops</option>
        <option value="5">5 stops</option>
    </select>
</div>