.settings{
    /* text-align: center; */
    border-radius: 0px;
    /* border: 1px solid black; */
    font-weight: 600;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.row{
    border:1px solid black;
    /* border-radius: 0px; */
    /* width: 50%; */
    color: white;
    background-color: black;
}
.line-break{
    border: 5px solid rgb(50, 50, 50);
    width: 100%;
}
.email-container *{
    font-size:1em;
}
.vertical-break{
    border: 1px solid rgb(50, 50, 50);
    height: auto;
    border-radius: 50%;
    /* width: 1px; */
}